// Accordion
//
// Styleguide 26.0.0

// FAQ Accordion
//
//  Markup:
// <section id="section_01" class="wrap-accordion js-pageScroll">
//   <h1>マイアカウントについて</h1>
//   <dl class="accordion">
//     <dt class="js-accordion"><p>アカウントにアクセスできません。どうしたらいいですか？</p><i></i></dt>
//     <dd>
//       <div class="accordion-inner">
//         <p>14px 別のe-mailアドレスでアカウントを作成していませんか？
//         他のアドレスで再度ログインしてみてください。</p>
//       </div>
//     </dd>
//     <dt class="js-accordion"><p>パスワードを変更したいのですが</p><i></i></dt>
//     <dd>
//       <div class="accordion-inner">
//         <p>パスワード忘れてしまいました。携帯メール、PCメールどちらを使えば良いですか？</p>
//       </div>
//     </dd>
//     <dt class="js-accordion"><p>スマートフォンでも申込できますか？</p><i></i></dt>
//     <dd>
//       <div class="accordion-inner">
//         <p>住所変更はどこからできますか？</p>
//       </div>
//     </dd>
//   </dl>
// </section>
//
//Styleguide 26.1.0

.wrap-accordion{
  width: 780px;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: 70px;
  }
  h1{
    width: 780px;
    margin: 0 auto;
    height: 71px;
    text-align: center;
    background-color: $c_gray_light;
    border-top: 3px solid $c_k;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
  }
  dt{
    border-top: 1px solid $c_gray;
    font-size: 18px;
    font-weight: bold;
    padding: 18px 20px;
    position: relative;
    transition: $tr_speed;
    p{
      width: 600px;
    }
    i{
      &::before {
        content: "";
        background-color: $c_k;
        position: absolute;
        right: 20px;
        top: 50%;
        width: 20px;
        height: 2px;
        z-index: 1;
        transition: $tr_speed;
      }
      &::after {
        content: "";
        background-color: $c_k;
        position: absolute;
        right: 20px;
        top: 50%;
        width: 20px;
        height: 2px;
        z-index: 1;
        transition: $tr_speed;
        transform: rotate(90deg);
      }
    }
    &.is-open{
      i{
        &::after {
          transform: rotate(180deg);
        }
      }
    }
    &:hover {
      opacity: $tr_opacity;
      cursor: pointer;
    }
  }

  dd{
    // display: none;
    box-sizing: border-box;
    .accordion-inner {
      padding: 16px 20px 50px;
      font-size: 14px;
    }
    p{
      width: 600px;
    }
  }
  @include mqTB{
    width: calc-vw(780,1280);
    &:not(:last-child) {
      margin-bottom: calc-vw(70,1280);
    }

    h1{
      width: calc-vw(780,1280);
      height: calc-vw(71,1280);
      font-size: calc-vw(20,1280);
      padding: 0 calc-vw(20,1280);
    }
    dt{
      font-size: calc-vw(15,1280);
      padding: calc-vw(16,1280) calc-vw(20,1280);
      p{
        width: calc-vw(600,1280);
      }
    }

    dd{
//      padding: calc-vw(16,1280) calc-vw(20,1280) calc-vw(50,1280);
      p{
        width: calc-vw(600,1280);
        font-size: calc-vw(14,1280);
      }
    }

  }
  @include mqSP{
    width: 100%;
    &:not(:last-child) {
      margin-bottom: calc-vw(40,320);
    }

    h1{
      width: 100%;
      height: calc-vw(60,320);
      border-top: 2px solid $c_k;
//      border-bottom: 1px solid $c_gray;
      font-size: 16px;
      padding: 0 calc-vw(30);
    }
    dt{
      font-size: 15px;
      padding: calc-vw(16,320) calc-vw(20,320);
      p{
        width: calc-vw(245,320);
      }
    }

    dd{
      .accordion-inner {
        padding: calc-vw(16,320) calc-vw(20,320) calc-vw(35,320);
      }
      p{
        width: calc-vw(290,320);
        font-size: 13px;
      }
    }
  }
}

.accordion-inner {
  .page-faq & {
    p {
      margin-bottom: 20px;
      color: $c_k;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      color: $c_link;
      text-decoration: underline;
      @include transition;
      &:hover {
        opacity: $tr_opacity;
      }
    }
    ul {
      color: $c_k;
      margin-bottom: 20px;
      font-size: 14px;
      &:last-child {
        margin-bottom: 0;
      }
      @include mqTB {
        margin-bottom: calc-vw(20,1280);
        font-size: calc-vw(14,1280);
      }
      @include mqSP {
        font-size: 13px;
        margin-bottom: calc-vw(40);
      }
      > li{
        margin-bottom: 10px;
        text-indent: -16px;
        padding-left: 16px;
        @include mqTB {
          margin-bottom: calc-vw(10,1280);
        }
        @include mqSP {
          margin-bottom: calc-vw(10);
          text-indent: -16px;
          padding-left: 16px;
        }
        &:before {
          content: "";
          height: 6px;
          width: 6px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          background-color: $c_k;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    ol {
      counter-reset: number;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      @include mqTB{
        margin-bottom: calc-vw(20,1280);
      }
      @include mqSP{
        margin-bottom: calc-vw(40);
      }
      > li {
        font-size: 15px;
        margin-bottom: 10px;
        text-indent: -24px;
        padding-left: 24px;
        @include mqTB {
          font-size: calc-vw(15,1280);
          margin-bottom: calc-vw(10,1280);
        }
        @include mqSP {
          font-size: 13px;
          margin-bottom: calc-vw(10);
          text-indent: -23px;
          padding-left: 23px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &::before {
          counter-increment: number;
          content: counter(number) ".";
          text-align: center;
          margin-right: 10px;
          font-weight: bold;
        }
      }
    }
  }
}