// Alert
//
// Styleguide 27.0.0

// Alert
//
//  Markup:
//<div class="alert"><p>※今お申込みいただくと、10月下旬に「未来から来た女性のギフト」をお届けします。</p></div>
//
//Styleguide 27.1.0
.alert{
  text-align: center;
  margin-bottom: 40px;
  @include mqTB{
    font-size: calc-vw(15,1280);
    margin-bottom: calc-vw(40,1280);
  }
  @include mqSP{
    width: calc-vw(290,320);
    margin: 0 auto calc-vw(15,320);
  }
  p{
    display: inline-block;
    border: 2px solid $c_red;
    color: $c_red;
    padding: 10px 20px;
    font-size: 15px;
    @include mqTB {
      padding: calc-vw(10,1280) calc-vw(20,1280);
    }
    @include mqSP {
      padding: calc-vw(10,320);
      text-align: initial;
      font-size: 14px;
    }
  }
  small {
    font-size: 13px;
    @include mqTB {
      font-size: calc-vw(13,1280);
    }
    @include mqSP {
      font-size: 11px;
    }
  }
}

