// appendix
//
// Styleguide 11.0.0

// appendix
//
// 詳細
//
// Markup:
//<div class="appendix-content">
//<img class="js-lazyload" data-src="https://unsplash.it/520/300" alt="">
//<div>
//<p>画像は横幅固定（高さ任意）15px <br>#000000<br>画像の横に説明テキストが入るスタイル画像の横に説明テキストが入るスタイル画像の横に説明テキストが入るスタイル画像の横に説明テキストが入るスタイル</p>
//</div>
//</div>
//
// Styleguide 11.1.0

.appendix-content{
  position: relative;
//  padding-top: 28px;
  padding-top: 18px;
  margin-bottom: 30px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    border: 1px solid $c_k;
    height: 4px;
    width: 100%;
    top: 0;
  }
  margin-bottom: 50px;

  a{
    color: $c_link;
    border-bottom: 1px solid;
    padding-bottom: 1px;
    transition: $tr_speed;
    &:hover {
      border-bottom: none;
      opacity: $tr_opacity;
    }
  }

  ul{
    font-size: 13px;
  }
  li{
    margin-bottom: 20px;
  }
  
//  &.appendix-content_release{
//  }
  

  @include mqTB{
    margin-bottom: calc-vw(18,320);
  }
  @include mqSP{
    padding-top: calc-vw(21,320);
//    margin-bottom: calc-vw(0,320);
    margin-bottom: calc-vw(15,320);
  }
}

.appendix-inner{
  display: flex;
  align-items: flex-start;
  img{
    margin-right: 20px;
    width: 230px;
//    max-width: inherit;
  }

  p{
    font-size: 13px;
    line-height: 1.8;
    
    .appendix_info &{
      line-height: 1.4
    }
  }
  span{
    color: $c_gray2;
  }
  
  @include mqTB{
    img{
      margin-right: calc-vw(20,1280);
      width: calc-vw(230,1280);
    }
    p{
      font-size: calc-vw(13,1280);
    }
  }
  @include mqSP{
    flex-direction: column;
    
    .appendix-relatedArticle &{
      flex-direction: inherit;
      margin-bottom: calc-vw(20,320);
    }
    
    img{

    }
    p{
      font-size: 12px;
    }
  }
}

.appendix-inner-img{
  width: 230px;
  margin-right: 20px;
  position: relative;

  img{
    margin-right: 20px;
    width: 230px;
    max-width: inherit;
  }
  @include mqTB{
    width: calc-vw(230,1280);
    margin-right: calc-vw(20,1280);

    img{
      margin-right: calc-vw(20,1280);
      width: calc-vw(230,1280);
    }
  }
  @include mqSP{
    width: inherit;
    margin-right: inherit;
    margin: 0 auto;
    text-align: center ;

    img{
      width: calc-vw(130,320);
      margin: 0 auto;
    }
  }
}

.appendix-content-title{
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
  
  .appendix_info &{
    margin-bottom: inherit;
  }
  .appendix-relatedArticle &{
    margin-bottom: inherit;
  }
  
  @include mqTB{
    font-size: calc-vw(15,1280);
    margin-bottom: calc-vw(5,1280);
  }
  @include mqSP{
    font-size: 14px;
    .appendix-relatedArticle &{
      margin-bottom: inherit;
      font-size: 13px;
    }
  }
}

.appendix-content-text{
  width: 350px;
  @include mqTB{
    width: calc-vw(350,1280);
  }
  @include mqSP{
    font-size: 12px;
    width: calc-vw(290,320);
  }
}

.appendix-lead{
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: bold;
  @include mqTB{
    font-size: calc-vw(16,1280);
    margin-bottom: calc-vw(15,1280);
  }
}

.appendix_info{
  img{
    width: 230px;
    height: 230px;
  }
  p{
    font-weight: bold;
  }
  @include mqTB{
    p{
      font-size: calc-vw(15,1280);
    }
  }
  @include mqSP{
    img{
      width: calc-vw(130,320);
      height: calc-vw(130,320);
      margin: 0 auto calc-vw(10,320);
    }
    p{
      margin-bottom: calc-vw(10,320);
    }
  }
}

.appendix_releaseInfo{
  @include mqTB{
    img{
      width: calc-vw(230,1280);
      height: calc-vw(230,1280);
    }
  }
  @include mqSP{
    img{
      width: calc-vw(130,320);
      height: calc-vw(130,320);
      margin: 0 auto calc-vw(10,320);
    }
    p{
      margin-bottom: calc-vw(15,320);
      width: calc-vw(290,320);
    }
  }
}

.appendix_releaseInfo-img img{
  width: 230px;
  height: 230px;
  margin-right: 20px;
  max-width: inherit;

  @include mqTB{
    width: calc-vw(230,1280);
    height: calc-vw(230,1280);
    margin-right: calc-vw(20,1280);
  }
  @include mqSP{
    width: calc-vw(130,320);
    height: calc-vw(130,320);
    margin: 0 auto calc-vw(10,320);
  }
}

.appendix_releaseInfo-img{
  height: 230px;
  margin-right: 20px;
  max-width: inherit;
  position: relative;

  @include mqTB{
    height: calc-vw(230,1280);
    margin-right: calc-vw(20,1280);
  }
  @include mqSP{
    height: calc-vw(130,320);
    margin: 0 auto calc-vw(10,320);
  }
}

.appendix-share{
  position: relative;
  width: 600px;
  height: 420px;
  overflow: hidden;
  box-sizing: border-box;
  @include mqTB {
    width: calc-vw(600,1280);
    height: calc-vw(420,1280);
  }
  @include mqSP{
    width: calc-vw(290,320);
    height: calc-vw(290,320);
    margin-top: calc-vw(40,320);
  }
}
.appendix-share-img {
  position: relative;
  line-height: 0;
  height: 100%;
  width: 100%;
  &:before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba($c_k,0.1);
    position: absolute;
    top: 0;
    left: 0;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: auto;
    max-width: none;
  }
}

.appendix-content-icon{
  margin-top: 18px;
  li{
    display: inline-block;
    font-size: 14px;
    &:not(:last-child) {
      margin-right: 12px;
    }
    a{
      color: $c_k;
      border-bottom: none;
      transition: $tr_speed;
      font-size: 16px;
      &:hover {
        color: $c_gray;
      }
    }
  }
  @include mqSP{
    margin-top: calc-vw(13,320);
    li{
      a{
        font-size: 13px;
      }
    }
  }
}

.appendix-share-content{
  width: 450px;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba($c_w,0.85);
  text-align: center;
  >div{
    &:first-child {
      margin: 25px 25px 0;
    }
  }
  .appendix-content-wrapTexts {
    p {
      font-size: 16px;
      font-weight: bold;
      @include mqTB {
        font-size: calc-vw(16,1280);
      }
      @include mqSP {
        font-size: 12px;
      }
    }
  }
  span{
    text-align: center;
    display: block;
  }
  
  @include mqTB{
    width: calc-vw(450,1280);
    >div{
      &:first-child {
        margin: calc-vw(25,1280) calc-vw(25,1280) 0;
      }
    }
  }
  @include mqSP{
    width: calc-vw(210,320);
    p{
      font-size: 12px;
      line-height: 1.6;
    }
    >div{
      &:first-child {
        margin: calc-vw(10,320) calc-vw(20,320) 0;
      }
    }
  }
}

.appendix-share-icon{
  width: 95px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  @include mqTB {
    width: calc-vw(95,1280);
    margin-top: calc-vw(15,1280);
  }
  @include mqSP {
    width: calc-vw(280);
    margin-top: calc-vw(5,320);
  }
  li{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: $c_k;
    border-radius: 50%;
    position: relative;
    transition: $tr_speed;
    @include mqTB {
      width: calc-vw(40,1280);
      height: calc-vw(40,1280);
      font-size: 10px;
    }
    @include mqSP {
      width: 35px;
      height: 35px;
      &.icon-line {
        &:before {
          font-size: 15px;
        }
      }
    }
    &:hover {
      background-color: $c_gray;
    }
    &::before {
      color: $c_w;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 16px;
      @include mqTB {
        font-size: calc-vw(16,1280);
      }
      @include mqSP {
        font-size: 14px;
      }
    }
  }
  a{
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 1;
    @include mqTB {
      width: calc-vw(40,1280);
      height: calc-vw(40,1280);
    }
    @include mqSP {
      width: calc-vw(35,320);
      height: calc-vw(35,320);
    }
  }
}

.appendix-follow-content{
  margin-top: 15px;
  padding: 0 20px 30px;

  ul{
    margin-top: 20px;
    width: 260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  a{
    display: inline-block;
    width: 120px;
    border: 1px solid $c_gray;
    padding: 10px 0;
    border-radius: 20px;
    transition: $tr_speed;
    @include f_poppins_b;
    line-height: 1;
    i {
      margin-right: 10px;
      font-size: 15px;
      display: inline-block;
      vertical-align: bottom;
      &.icon-facebook {
        font-size: 16px;
      }
      @include mqSP {
        margin-right: calc-vw(10);
      }
    }
    &:hover {
      background-color: $c_gray;
    }
  }
  p{
    font-size: 13px;
  }
  
  @include mqTB{
    margin-top: calc-vw(15,1280);
    padding: 0 calc-vw(20,1280) calc-vw(30,1280);
    p{
      font-size: calc-vw(13,1280);
    }
    ul{
      margin-top: calc-vw(20,1280);
      width: calc-vw(260,1280);
      margin-top: calc-vw(15,1280);

    }
    a{
      width: calc-vw(120,1280);
      padding: calc-vw(10,1280) 0;
      border-radius: calc-vw(20,1280);
      font-size: calc-vw(12,1280);
      i {
        margin-right: calc-vw(10,1280);
        font-size: calc-vw(15,1280);
        &.icon-facebook {
          font-size: calc-vw(16,1280);
        }
      }
    }
  }
  @include mqSP{
    margin-top: calc-vw(5,320);
    padding: 0 calc-vw(10) calc-vw(30);
    ul{
      width: calc-vw(174,320);
      margin-top: 0;

    }
    a{
      font-size: 11px;
      width: calc-vw(80,320);
      padding: calc-vw(8,320) 0 ;
    }
    p{
      font-size: 10px;
      margin: 0 calc-vw(10,320) 0;
      padding: 0 0 calc-vw(5,320);
    }
  }
}

.appendix-relatedArticles{
  @include mqSP{
    h1{
      position: relative;
    }
  }
}

.appendix-relatedArticle{
  
  transition: $tr_speed;
  &:hover {
    opacity: $tr_opacity;
  }
  
  a{
    color: $c_k;
  }
  
  
  @include mqTB{
    
  }
  @include mqSP{
    img{
      width: calc-vw(100,320);
      height: 100%;
      margin-right: calc-vw(12,320);
    }
    p{
      font-size: 11px;
    }
  }
}