// Button
//
// Styleguide 6.0.0

// Button fill
//
// ボタン 黒ベタ
//
// Markup:
// <p class="button_fill"><a href="">button</a></p>
// <br />
// <p class="button_fill_block">
//   <input type="button" value="自動住所入力" />
// </p>
//
// Styleguide 6.1.0
.button_fill {
  a,span,input[type="button"] {
    @include f_poppins-base_b;
    @include transition;
    display: inline-block;
    background-color: $c_k;
    color: $c_w;
    padding: 5px 28px;
    min-width: 130px;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
    @include mqTB {
      font-size: calc-vw(16,1280);
      padding: calc-vw(5,1280) calc-vw(15,1280);
      min-width: calc-vw(130,1280);
    }
    @include mqSP {
      font-size: 13px;
      padding: calc-vw(14) calc-vw(40) calc-vw(12);
      min-width: calc-vw(200);
      .page-list_girlfriends & {
        font-size: 14px;
        padding: calc-vw(10,320) calc-vw(13,320);
      }
    }
    &[target="_blank"] {
      &:after {
        @include icofont;
        content: "\e903";
        font-size: 11px;
        position: relative;
        left: 8px;
        top: -2px;
        vertical-align: middle;
        @include mqSP {
          font-size: 11px;
          left: 5px;
        }
      }
    }
    &:hover {
      background-color: $c_gray2;
    }
  }
  &.is-disabled {
    a,span,input[type="button"] {
      pointer-events: none;
      background-color: $c_gray2;
    }
  }
  .l-section &,
  .contact-section &,
  .page-about .l-main & {
    text-align: center;
  }
  .contact-section & {
    margin-top: 60px;
    @include mqTB {
      margin-top: calc-vw(60,1280);
    }
    @include mqSP {
      margin-top: calc-vw(50);
    }
  }
  .page-mypage & {
    text-align: center;
  }
  .cards_article &,
  .cards_mypage-delivery-button & {
    text-align: left;
    @include mqSP {
      text-align: center;
    }
  }
  .header-utility-register & {
    font-size: 13px;
    @include mqTB {
      font-size: calc-vw(13,1280);
    }
    a,span,input[type="button"] {
      min-width: 0;
      line-height: 1;
      padding: 7px 16px;
      @include mqTB {
        padding: calc-vw(7,1280) calc-vw(16,1280);
      }
    }
  }
  .footer-about & {
    a,span,input[type="button"] {
      min-width: 0;
    }
    @include mqSP {
      text-align: center;
    }
  }
  .page-mypage .main-inner & {
    a {
      + a {
        margin-top: 15px;
      }
    }
  }
  .cards_rect + & {
    margin-top: 20px;
    @include mqTB {
      margin-top: calc-vw(20,1280);
    }
  }
  .list_octagon + & {
    margin-top: 50px;
    @include mqTB {
      margin-top: calc-vw(50,1280);
    }
    @include mqSP {
      margin-top: calc-vw(95);
    }
    
  }
  .wysiwyg & {
    margin-top: 15px;
    margin-bottom: 40px;
  }
  .pager + & {
    margin-top: 60px;
    @include mqTB {
      margin-top: calc-vw(60,1280);
    }
  }
}
.button_fill_block {
  @extend .button_fill;
  // width: 100%;
  // height: 50px;
  // font-size: 15px;
  // text-align: center;
  // line-height: 50px;
  a,span,input[type="button"] {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
    padding: 0;
    @include mqTB {
      font-size: calc-vw(15, 1280);
    }
    @include mqSP {
      font-size: 13px;
    }
    .page-mypage & {
      @include mqSP {
        padding: 0;
      }
    }
  }
}

// Button border
//
// ボタン ボーダー
//
// Markup:
// <p class="button_border"><a href="">button</a></p>
// <br />
// <p class="button_border_block"><a href="">自動住所入力</a></p>
//
// Styleguide 6.2.0
.button_border {
  @include f_poppins-base_b;
  font-size: 16px;
  @include mqTB {
    font-size: calc-vw(16,1280);
  }
  @include mqSP {
    font-size: 13px;
  }
  a,span {
    display: inline-block;
    min-width: 130px;
    padding: 5px 15px;
    border: 2px solid $c_k;
    background-color: $c_w;
    color: $c_k;
    box-sizing: border-box;
    text-align: center;
    @include transition;
    @include mqTB {
      padding: calc-vw(5,1280) calc-vw(15,1280);
      min-width: calc-vw(130,1280);
    }
    &:hover {
      background-color: $c_k;
      color: $c_w;
    }
    .featureOfTheMonth_gift &{
      padding-right: 40px;
    }
  }
  
  .featureOfTheMonth-img &{
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    &::after {
      content: "\e901";
      @include icofont;
      color: $c_k;
      position: absolute;
      font-size: 10px;
      left: 157px;
      top: 12px;
      transform: scale(0.7);
      transition-duration: .3s;
      transition-timing-function: cubic-bezier(.4,0,.2,1);
    }
    @include mqTB{
      &::after {
        left: calc-vw(157,1280);
        top: calc-vw(12,1280);
      }
    }
  }
  .featureOfTheMonth_gift &{
    &::after {
      left: 142px;
      
    }
    @include mqTB{
      &::after {
        left: calc-vw(142,1280);
      }
    }
  }
}

.button_border_block {
  @extend .button_border;
  a, span {
    display: block;
  }
}

// Button simple pager
//
// 次へ / 戻るボタン
//
// Markup:
// <a href="#" class="button_back">BACK</a>
// <br />
// <a href="#" class="button_next">NEXT</a>
// <br />
// <p class="button_next"><input type="submit" />NEXT ( input type="submit" )</p>
// <br />
// <p class="button_next"><input type="button" />NEXT ( input type="button" )</p>
// <br />
// <div style="background:#efefef">
// <a href="#" class="button_back is-disabled">.is-disabled ( 背景色透過 )</a>
// <br />
// <a href="#" class="button_next is-disabled">.is-disabled ( 背景色透過 )</a>
// <br />
// <p class="button_next is-disabled"><input type="submit" />.is-disabled ( 背景色透過 / submit・button )</p>
// </div>
//
// Styleguide 6.3.0
.button_back,
.button_next {
  display: block;
  position: relative;
  height: 70px;
  line-height: 70px;
  padding: 0 15px;
  font-size: 18px;
  color: $c_w;
  @include f_poppins-base_b;
  transition: all .3s $tr_easing;
  &:before,
  &:after {
    @include icofont;
    display: inline-block;
    padding: 0 5px 0 10px;
    font-size: 10px;
    @include transition;
  }
  @include mqNotSP {
    &:hover {
      &:before,
      &:after {
        padding: 0 0 0 15px;
      }
    }
  }
  &[target="_blank"] {
    &:after {
      @include icofont;
      content: "\e903";
      font-size: 14px;
      @include mqTB {
        font-size: calc-vw(14,1280);
      }
    }
    &:hover {
      &:after{
        padding-left: 10px;
        padding-right: 5px;
      }
    }
  }
  &.is-disabled {
    background: none;
    color: $c_gray;
    pointer-events: none;
  }
  @include mqTB {
    font-size: calc-vw(18,1280);
  }
  @include mqSP {
    padding: 0 calc-vw(20);
    font-size: 16px;
  }
  input[type="submit"],
  input[type="button"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
  }
}
.button_back {
  background: $c_gray2;
  &:before {
    content: "\e901";
    transform: scaleX(-1);
  }
}
.button_next {
  background: $c_k;
  text-align: right;
  @include mqNotSP {
    &:hover {
      background: $c_gray2;
    }
  }
  &:after {
    content: "\e901";
  }
  @include mqNotSP {
    .login-box & {
      position: absolute;
      bottom: 0;
      left: -4px;
      right: -1px;
      box-sizing: border-box;
    }
  }
}

// Button text
//
// ボタン テキストのみ
//
// Markup:
// <p class="button_text"><a href="">解約をご希望の方</a></p>
//
// Styleguide 6.4.0
.button_text {
  @include f_poppins-base_b;
  font-size: 14px;
  text-align: center;
  @include mqTB {
    font-size: calc-vw(14, 1280);
  }
  a,
  span {
    padding: 5px 15px;
    display: inline-block;
    min-width: 130px;
    text-align: center;
    @include transition;
    color: $c_blue;
    @include mqTB {
      padding: calc-vw(5, 1280) calc-vw(15, 1280);
      min-width: calc-vw(130,1280);
    }
    &:hover {
      color: $c_gray2;
    }
  }
}



// Button line
//
// ボタン 黒フチ
//
// Markup:
// <p class="button_line"><a href="">button</a></p>
//
// Styleguide 6.5.0
.button_line {
  .page-detail_gift &,
  .page-registration &,
  .page-about & {
    text-align: center;
    padding: 40px 0;
    @include mqTB {
      padding: calc-vw(40,1280);
    }
    @include mqSP {
      padding: calc-vw(40);
    }
  }

  >a,
  >span {
    text-align: center;
    padding: 10px 30px;
    background-color: $c_w;
    border: 3px solid $c_k;
    display: flex;
    box-shadow: 5px 5px 0 rgba($c_k, 0.3);
    height: 100px;
    max-width: 390px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
    font-weight: bold;
    font-size: 21px;
    @include transition;
    @include mqTB {
      font-size: calc-vw(21,1280);
      padding: calc-vw(10, 1280) calc-vw(30, 1280);
      height: calc-vw(100, 1280);
      max-width: calc-vw(390, 1280);
    }
    @include mqSP {
      padding: 0 calc-vw(20);
      font-size: 13px;
      height: calc-vw(61,320);
      width: calc-vw(210,320);
      font-weight: bold;
      border-width: 2px;
    }
    .use-ie11 & {
      font-family: "メイリオ";
      font-size: 20px;
      @include mqTB {
        font-size: calc-vw(20,1280);
      }
    }
    small {
      font-size: 15px;
      font-weight: normal;
      display: block;
      margin-top: -15px;
      @include mqTB {
        font-size: calc-vw(15,1280);
        margin-top: calc-vw(-15,1280);
      }
      @include mqSP {
        font-size: 11px;
        margin-top: calc-vw(-40);
      }
    }
    &:after {
      @include icofont;
      content: "\e901";
      font-size: 12px;
      position: absolute;
      bottom: 20px;
      right: 20px;
      @include transition;
      transition-property: transform;
      @include mqTB {
        font-size: calc-vw(12, 1280);
        bottom: calc-vw(20, 1280);
        right: calc-vw(20, 1280);
      }
      @include mqSP {
        font-size: 10px;
        bottom: calc-vw(10,320);
        right: calc-vw(10,320);
      }
    }
    &:hover {
      background-color: $c_k;
      color: $c_w;
      &:after {
        transform: translateX(5px);
      }
    }
  }
}

// Button line white
//
// ボタン 白フチ
//
// Markup:
// <p class="button_lineWhite"><a href="">button</a></p>
//
// Styleguide 6.6.0

.button_lineWhite {
  @include f_poppins-base_b;
  font-size: 16px;
  @include mqTB {
    font-size: calc-vw(16,1280);
  }  
  a,span {
    display: inline-block;
    min-width: 130px;
    padding: 5px 15px;
    border: 2px solid $c_w;
    background-color: $c_k;
    color: $c_w;
    box-sizing: border-box;
    text-align: center;
    @include transition;
    @include mqTB {
      padding: calc-vw(5,1280) calc-vw(15,1280);
      min-width: calc-vw(130,1280);
    }
//    &:hover {
//      background-color: $c_w;
//      color: $c_k;
//    }
//    &:hover::after {
//      color: $c_k;
//    }
    .featureOfTheMonth-img &{
      padding-right: 30px;
//      &:hover:after {
//        color: $c_k;
//      }
    }
  }
  .featureOfTheMonth-img &{
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    &::after {
      content: "\e901";
      @include icofont;
      color: $c_w;
      position: absolute;
      font-size: 10px;
      left: 157px;
      top: 12px;
      transform: scale(0.7);
      transition-duration: .3s;
      transition-timing-function: cubic-bezier(.4,0,.2,1);
    }
    @include mqTB{
      &::after {
        left: calc-vw(157,1280);
        top: calc-vw(12,1280);
      }
    }
  }
}

// Button gift
//
// ボタン ギフト
//
// Markup:
//
//<p class="button_gift"><span href="">今月のギフトを見る</span></p>
//
// Styleguide 6.7.0
.button_gift {
  >a,
  >span {
    text-align: center;
    padding: 5px 50px 5px 16px;
    background-color: $c_w;
    border: 3px solid $c_k;
    min-height: 42px;
    max-width: 240px;
    box-sizing: border-box;
    position: absolute;
    right: 20px;
    bottom: 20px;
    @include f_chikumin;
    font-weight: bold;
    font-size: 18px;
    @include transition;
    @include mqTB {
      font-size: calc-vw(21,1280);
      padding: calc-vw(5, 1280) calc-vw(50, 1280)  calc-vw(5, 1280)  calc-vw(16, 1280);
      min-height: calc-vw(42, 1280);
      max-width: calc-vw(390, 1280);
    }
    @include mqSP {
      padding: calc-vw(3,320) calc-vw(30,320) 0 0;
      font-size: 15px;
      width: calc-vw(193,320);
      min-height: calc-vw(65);
      right: calc-vw(10,320);
      bottom: calc-vw(10,320);
    }
    small {
      font-size: 15px;
      font-weight: normal;
      @include mqTB {
        font-size: calc-vw(15,1280);
      }
    }
    &:after {
      @include icofont;
      content: "\e901";
      font-size: 10px;
      position: absolute;
      bottom: 14px;
      right: 18px;
      transition-duration: .3s;
      transition-timing-function: cubic-bezier(.4,0,.2,1);
      transition-property: transform;
      @include mqTB {
        font-size: calc-vw(12, 1280);
        bottom: calc-vw(20, 1280);
        right: calc-vw(20, 1280);
        bottom: calc-vw(14, 1280);
        right: calc-vw(16, 1280);
      }
      @include mqSP {
        bottom: calc-vw(10,320);
        right: calc-vw(7,320);
        font-size: 10px;

      }
    }
  }
}
