// Form
//
// Styleguide 15.0.0

// アイテムのくくり
.form-item {
  padding: 20px 20px 30px 20px;
  border-top: 1px solid $c_k;
  box-sizing: border-box;
  dd {
    @extend %clearfix;
  }
  &:last-child {
    padding-bottom: 0;
  }
  @include mqSP {
    padding-left: calc-vw(30);
    padding-right: calc-vw(30);
  }
  .page-reminder &:last-child,
  .page-login &:last-child {
    padding-bottom: 30px;
    @include mqSP {
      padding-bottom: calc-vw(60);
    }
  }
}
.form-item_confirm {
  @extend .form-item;
  .page-contact & {
    padding: 0;
    border: none;
  }
}
// 説明枠
.form-item_reference {
  padding-top: 0;
  border-top: none;
  @extend .form-item;
}

// サブ項目 (背景付き)
.form-subItems {
  background: $c_gray_bg;
  .form-item {
    border-color: $c_gray;
    &:last-child {
      padding-bottom: 30px;
    }
  }
}

// inputたちをくくる
.form-item-wrap {
  @extend %clearfix;
  font-size: 25px;
  &+.text-formError {
    &:first-of-type {
      margin-top: 10px;
    }
  }
  & + .form-item-wrap {
    margin-top: 20px;
  }
  @include mqTB {
    font-size: calc-vw(25, 1280);
  }
}
.form-item-inline {
  input, select, span {
    display: inline;
  }
  input, select {
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
  span {
    @include f_base;
    font-size: 25px;
  }
  @include mqSP {
    input, select {
      margin-left: 10px;
    }
  }
}
.form-item_2cal {
  float: left;
  width: 49%;
  &:nth-child(2n+1) {
    margin-right: 2%;
  }
}
.form-item_3cal {
  width: calc( (100% - 60px) / 3);
  margin: 0 0 0 30px;
  box-sizing: border-box;
  @include mqSP {
    width: calc( (100% - 20px) / 3);
    margin: 0 0 0 10px;
  }
  &:nth-child(3n+1) {
    margin-left: 0;
  }
}


// Text
//
// テキスト
//
// Markup:
// <dl class="form-item">
//   <dt class="heading_formTitle">お名前<span>＊</span></dt>
//   <dd>
//     <div class="form-item_2cal">
//       <input type="text" placeholder="姓" />
//       <p class="text-formError">必須項目です</p>
//     </div>
//     <div class="form-item_2cal">
//       <input type="text" placeholder="名" />
//       <p class="text-formError">必須項目です</p>
//     </div>
//   </dd>
// </dl>
// <dl class="form-item">
//   <dt class="heading_formTitle">生年月日<span>＊</span></dt>
//   <dd>
//     <div class="form-item-inline">
//       <input type="text" placeholder="xxxx" class="input_s" /><span>年</span>
//       <input type="text" placeholder="xx" class="input_ss" /><span>月</span>
//       <input type="text" placeholder="xx" class="input_ss" /><span>日</span>
//     </div>
//   </dd>
// </dl>
// <dl class="form-item">
//   <dt class="heading_formTitle">メールアドレス<span>＊</span></dt>
//   <dd>
//     <input type="text" placeholder="入力してください" />
//     <p class="text-formError">必須項目です</p>
//     <p class="text-formError">無効なメールアドレスです</p>
//   </dd>
// </dl>
//
// Styleguide 15.1.0
%input_text {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  transition: all .3s $tr_easing;
  @include f_base;
  background: transparent;
  &:focus,
  &:hover {
    background: $c_gray_light;
  }
  @include placeholder {
    color: $c_gray_placeholder;
    @include f_base;
  }
  @include mqTB {
    font-size: calc-vw(25, 1280);
  }
}
.form-item {
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    @extend %input_text;
    &.input_s {
      width: 70px;
    }
    &.input_ss {
      width: 50px;
    }
  }
}

// Radio
//
// ラジオ
//
// Markup:
// <dl class="form-item">
//   <dt class="heading_formTitle">性別<span>＊</span></dt>
//   <dd>
//     <div class="form-item-wrap">
//       <div class="form-item_3cal form-item_radio"><input type="radio" name="gender" value="男性" /><label>男性</label></div>
//       <div class="form-item_3cal form-item_radio"><input type="radio" name="gender" value="女性" /><label>女性</label></div>
//       <div class="form-item_3cal form-item_radio"><input type="radio" name="gender" value="その他" /><label>その他</label></div>
//     </div>
//     <p class="text-formError">必須項目です</p>
//   </dd>
// </dl>
// <dl class="form-item">
//   <dt class="heading_formTitle">メールマガジン<span>＊</span></dt>
//   <dd>
//     <div class="form-item-wrap">
//       <div class="form-item_2cal form-item_radio"><input type="radio" name="mailmagazine" value="希望する" checked /><label>希望する</label></div>
//       <div class="form-item_2cal form-item_radio"><input type="radio" name="mailmagazine" value="希望しない" /><label>希望しない</label></div>
//     </div>
//     <p class="text-formError">必須項目です</p>
//   </dd>
//   <dd class="text_formNote">※イベントの先行予約についてはメールマガジンで情報をお届けします。ご希望の方は必ず「希望する」にチェックしてください。</dd>
// </dl>
// <dl class="form-item">
//   <dt class="heading_formTitle">服のサイズ<span>＊</span></dt>
//   <dd>
//     <div class="form-item-wrap">
//       <div class="form-item_3cal form-item_radio_l"><input type="radio" name="size" value="S" /><label>S</label></div>
//       <div class="form-item_3cal form-item_radio_l"><input type="radio" name="size" value="M" /><label>M</label></div>
//       <div class="form-item_3cal form-item_radio_l"><input type="radio" name="size" value="L" /><label>L</label></div>
//     </div>
//     <p class="text-formError">必須項目です</p>
//   </dd>
// </dl>
//
// Styleguide 15.2.0
%input_radio {
  position: relative;
  float: left;
  height: 50px;
  label {
    display:block;
    height: 50px;
    border-radius: 8px;
    border: 2px dashed $c_gray_placeholder;
    @include f_base;
    font-size: 20px;
    color: $c_gray_placeholder;
    text-align: center;
    line-height: 44px;
    transition: all .3s $tr_easing;
    box-sizing: border-box;
    @include mqTB {
      font-size: calc-vw(20, 1280);
    }
  }
  input[type="radio"] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index:2;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    &:checked + label {
      border: 2px solid $c_k;
      color: $c_k;
    }
  }
}
// ラジオボタン
.form-item_radio {
  @extend %input_radio;
}
.form-item_radio_l {
  @extend %input_radio;
  height: 100px;
  label {
    height: 100px;
    line-height: 96px;
    font-size: 25px;
  }
}
.form-item_radio_block {
  @extend %input_radio;
  float: none;
  display: block;
  margin-bottom: 20px;
  line-height: 1.5;
  height: auto;
  &:last-child {
    margin-bottom: 0;
  }
  label {
    text-align: left;
    padding: 0 20px;
    line-height: 1.5;
    padding-top: 8px;
    padding-bottom: 8px;
    height: auto;
  }
}

// Check
//
// チェックボックス
//
// Markup:
// <dl class="form-item">
//   <dt class="heading_formTitle">ギフトの配送先<span>＊</span></dt>
//   <dd>
//     <div class="form-item_check form-item-wrap">
//       <input type="checkbox" class="js-checkToAccordion" data-target="js-accordionBody"><label>ギフトの配達先住所が異なる場合、チェックして別の住所を入力</label>
//     </div>
//     <p class="text-formError">必須項目です</p>
//   </dd>
// </dl>
// <dl class="form-item">
//   <dd>
//     <div class="form-item_check_s">
//       <input type="checkbox"><label>メールアドレスを保存する</label>
//     </div>
//   </dd>
// </dl>
// <dl class="form-item_confirm">
//   <dd>
//     <div class="form-item_check form-item-wrap">
//       <input type="checkbox"><label>ご利用規約、プライバシーポリシーに同意します</label>
//     </div>
//   </dd>
// </dl>
//
// Styleguide 15.3.0
%input_check {
  display: table;
  position: relative;
  width: 100%;
  // @include mqSP {
  //   display: table;
  // }
  label {
    // display: block;
    display: table-cell;
    vertical-align: middle;
    z-index: 1;
    height: 50px;
    padding: 0 0 0 60px;
    @include f_base;
    font-size: 16px;
    // line-height: 50px;
    cursor: pointer;
    position: relative;
    // @include mqTB {
    //   line-height: 46px;
    // }
    @include mqSP {
      font-size: 14px;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      width: 50px;
      height: 50px;
      box-sizing: border-box;
      transition: all .3s $tr_easing;
      cursor: pointer;
    }
    &:before {
      border-radius: 8px;
      border: 2px dashed $c_gray;
    }
    &:after {
      background-image: url(../img/icon-checked.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 24px;
      opacity: 0;
    }
  }
  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    &:checked + label {
      &:before {
        border: 2px solid $c_k;
      }
      &:after {
        opacity: 1;
      }
    }
  }
}
.form-item_check {
  @extend %input_check;
  .page-contact & {
    margin-top: 30px;
    text-align: center;
    @include mqSP {
      text-align: left;
    }
    label {
      display: inline-block;
      a {
        color: $c_link;
        text-decoration: underline;
      }
    }
  }
}
.form-item_confirm {
  @extend %input_check;
  .form-item_check {
    margin-bottom: 30px;
    text-align: center;
    label {
      display: inline-block;
      position: relative;
      line-height: 50px;
      height: 50px;
    }
    @include mqTB {
      label {
        line-height: 46px;
      }
    }
    @include mqSP {
      text-align: left;
      label {
        display: table-cell;
        line-height: 1.5;
      }
    }
  }
}
.form-item_check_s {
  @extend %input_check;
  label {
    height: 25px;
    padding: 0 0 0 35px;
    line-height: 25px;
    &:before,
    &:after {
      width: 25px;
      height: 25px;
    }
    &:before {
      border-radius: 5px;
    }
    &:after {
      background-size: auto 12px;
    }
  }
}

// Select
//
// セレクトボックス
//
// Markup:
// <dl class="form-item">
//   <dt class="heading_formTitle">都道府県<span>＊</span></dt>
//   <dd>
//     <div class="form-item_select js-form-select">
//       <p>選択してください</p>
//       <select name="pref_name">
//         <option value="" selected>選択してください</option>
//         <option value="北海道">北海道</option>
//         <option value="青森県">青森県</option>
//         <option value="岩手県">岩手県</option>
//         <option value="宮城県">宮城県</option>
//         <option value="秋田県">秋田県</option>
//         <option value="山形県">山形県</option>
//         <option value="福島県">福島県</option>
//         <option value="茨城県">茨城県</option>
//         <option value="栃木県">栃木県</option>
//         <option value="群馬県">群馬県</option>
//         <option value="埼玉県">埼玉県</option>
//         <option value="千葉県">千葉県</option>
//         <option value="東京都">東京都</option>
//         <option value="神奈川県">神奈川県</option>
//         <option value="新潟県">新潟県</option>
//         <option value="富山県">富山県</option>
//         <option value="石川県">石川県</option>
//         <option value="福井県">福井県</option>
//         <option value="山梨県">山梨県</option>
//         <option value="長野県">長野県</option>
//         <option value="岐阜県">岐阜県</option>
//         <option value="静岡県">静岡県</option>
//         <option value="愛知県">愛知県</option>
//         <option value="三重県">三重県</option>
//         <option value="滋賀県">滋賀県</option>
//         <option value="京都府">京都府</option>
//         <option value="大阪府">大阪府</option>
//         <option value="兵庫県">兵庫県</option>
//         <option value="奈良県">奈良県</option>
//         <option value="和歌山県">和歌山県</option>
//         <option value="鳥取県">鳥取県</option>
//         <option value="島根県">島根県</option>
//         <option value="岡山県">岡山県</option>
//         <option value="広島県">広島県</option>
//         <option value="山口県">山口県</option>
//         <option value="徳島県">徳島県</option>
//         <option value="香川県">香川県</option>
//         <option value="愛媛県">愛媛県</option>
//         <option value="高知県">高知県</option>
//         <option value="福岡県">福岡県</option>
//         <option value="佐賀県">佐賀県</option>
//         <option value="長崎県">長崎県</option>
//         <option value="熊本県">熊本県</option>
//         <option value="大分県">大分県</option>
//         <option value="宮崎県">宮崎県</option>
//         <option value="鹿児島県">鹿児島県</option>
//         <option value="沖縄県">沖縄県</option>
//       </select>
//     </div>
//     <p class="text-formError">必須項目です</p>
//   </dd>
// </dl>
//
// Styleguide 15.4.0
%input_select {
  position: relative;
  width: 100%;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
  @include transition;
  @include f_base;
  background: transparent;
  @include mqTB {
    font-size: calc-vw(25, 1280);
  }
  select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    font-size: 25px;
  }
  p {
    color: $c_gray_placeholder;
    transition: all .3s $tr_easing;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 20px);
    &.is-selected {
      color: $c_k;
    }
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: calc(50% - 4px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 5px 0 5px;
      border-color: $c_k transparent transparent transparent;
    }
  }
  &:hover {
    background: $c_gray_light;
  }

}
.form-item_select {
  @extend %input_select;
}

// Text
//
// テキストエリア
//
// Markup:
// <dl class="form-item">
//   <dt class="heading_formTitle">お名前<span>＊</span></dt>
//   <dd>
//     <div class="form-item-wrap">
//       <textarea class="form-item_textarea" placeholder="入力してください"></textarea>
//     </div>
//   </dd>
// </dl>
//
// Styleguide 15.5.0
%input_textarea {
  display: block;
  width: 100%;
  height: 200px;
  font-size: 25px;
  transition: all .3s $tr_easing;
  @include f_base;
  background: transparent;
  &:focus,
  &:hover {
    background: $c_gray_light;
  }
  @include placeholder {
    color: $c_gray_placeholder;
    @include f_base;
  }
  @include mqTB {
    font-size: calc-vw(25, 1280);
  }
}
.form-item_textarea {
  @extend %input_textarea;
}


// Confirm
//
// 確認
//
// Markup:
// <dl class="form-item">
//   <dt class="heading_formTitle">お名前<span>＊</span></dt>
//   <dd>
//     <p class="form-item-confirm">勅使河原 京子</p>
//   </dd>
// </dl>
// <dl class="form-item">
//   <dt class="heading_formTitle">ギフトの配送先<span>＊</span></dt>
//   <dd>
//     <p class="form-item-confirm_s">ギフトの配達先住所が異なる</p>
//   </dd>
// </dl>
//
// Styleguide 15.6.0
.form-item-confirm {
  font-size: 25px;
  @include f_base;
  word-break: break-all;
  @include mqTB {
    font-size: calc-vw(25, 1280);
  }
}
.form-item-confirm_s {
  font-size: 15px;
  @include f_base;
  word-break: break-all;
  @include mqTB {
    font-size: calc-vw(15, 1280);
  }
  @include mqSP {
    font-size: 14px;
  }
}