.registration-wrap {
  margin: 0 0 60px 0;
  padding: 15px 0;
  background: $c_gray4;
  
  @include mqSP {
    margin-bottom: 0px;
  }
}
.registration-section {
  width: 640px;
  margin: 0 auto;
  
  @include mqTB {
    padding-bottom: calc-vw(370,1280);
    background-size: calc-vw(305,1280) auto;
  }
  @include mqSP {
    width: 100%;
  }
}
.registration-section_complete {
  @extend .registration-section;
  padding-bottom: 370px;
  background-image: url(../img/footer-girl.gif);
  background-position: center bottom;
  background-size: 305px auto;
  background-repeat: no-repeat;
  margin-bottom: -40px;
  @include mqTB {
    padding-bottom: calc-vw(370,1280);
    background-size: calc-vw(305,1280) auto;
  }
  @include mqSP {
    background-size: calc-vw(180,320) auto;
    padding-top: calc-vw(60);
    padding-bottom: calc-vw(194,320);
  }
}


.registration-schedule {
  width: 980px;
  margin: 0 auto 30px;
  @include mqTB {
    width: calc-vw(980,1280);
    margin-bottom: calc-vw(30,1280);
  }
  @include mqSP {
    width: calc-vw(580);
    margin-bottom: 0;
  }
}

.registration-schedule-section {
  border-top: 1px solid $c_gray;
  padding-bottom: 60px;
  @include mqTB {
    padding-bottom: calc-vw(60,1280);
  }
  @include mqSP {
    padding-bottom: calc-vw(80);
  }
  &:nth-child(1) {
    .registration-schedule-image {
      background-image: url(../img/registration-schedule_01.png);
      @include mqSP {
        background-image: url(../img/registration-schedule_01_sp.png);
      }
    }
  }
  &:nth-child(2) {
    .registration-schedule-image {
      background-image: url(../img/registration-schedule_02.png);
      @include mqSP {
        background-image: url(../img/registration-schedule_02_sp.png);
        height: calc-vw(600);
      }
    }
  }
}

.registration-schedule-note {
  @include f_base;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  width: 780px;
  margin: 10px auto 50px;
  @include mqTB {
    width: calc-vw(780,1280);
    font-size: calc-vw(15,1280);
    margin-bottom: calc-vw(50,1280);
  }
  @include mqSP {
    font-size: 12px;
    margin: calc-vw(40) 0 calc-vw(60);
    width: calc-vw(290,320);
    text-align: left;
    > li {
      text-indent: -1em;
      padding-left: 1em;
    }
  }
}
.registration-schedule-image {
  width: 815px;
  height: 295px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100% auto;
  @include mqTB {
    width: calc-vw(815,1280);
    height: calc-vw(295,1280);
  }
  @include mqSP {
    width: calc-vw(580);
    height: calc-vw(862);
  }
}