.topArticle{
  position: absolute;
  top: 60px;
  right: 60px;
  display: inline-block;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 16px;
  line-height: 1.6;
  @include mqSP{
    top: calc-vw(20,320);
    left: calc-vw(20,320);
    right: inherit;
    font-size: 12px;
    line-height: 1.4;
  }
}