.wysiwyg{
  height: 810px;
  width: 850px;
  margin: 0 auto;
  writing-mode: vertical-rl;
  columns: 20rem;
  pointer-events: none;
  @include mqTB{
    width: calc-vw(800,1280);
  }
  @include mqSP{
    width: 850px;
    height: inherit;
    margin: 0 auto;
    writing-mode: inherit;
    columns: inherit;
  }
  p{
    display: inline-block;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 16px;
    line-height: 1.6;
    @include mqTB{
      font-size: calc-vw(16,1280);
      unicode-bidi: bidi-override;
    }
    @include mqSP{
      .detail &{
        margin:0 calc-vw(145,320);
      }
    }
  }
}