<section class="l-section">
  <h1 class="heading_section_secondary">RECOMMENDED</h1>

  <ul class="cards">

    <li class="is-sponsored">
      <a href="">
        <div class="cards-img c-bd-b_1">
          <img class="js-lazyload" data-src="http://placehold.jp/300x300.png" alt="">
        </div>
        <div class="cards-text c-bd-b_1">
          <div class="cards-lead c-cl-f_1">2017.8 特集：未来からきた女性</div>
          <div class="cards-title">ミランダ・ジュライ インタビュー</div>
          <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
          <ul class="cards-tags sp-hide">
            <li class="cards-date">Sep 16. 2017</li>
            <li>#LOVE</li>
            <li>#INTERVIEW</li>
          </ul>
        </div>
      </a>
    </li>

    <li>
      <a href="">
        <div class="cards-img">
          <img class="js-lazyload" data-src="http://placehold.jp/300x300.png" alt="">
        </div>
        <div class="card-text">
          <div class="cards-lead">2017.8 特集：未来からきた女性</div>
          <div class="cards-title">ミランダ・ジュライ インタビュー</div>
          <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
          <ul class="cards-tags sp-hide">
            <li class="cards-date">Sep 16. 2017</li>
          </ul>
        </div>
      </a>
    </li>

    <li class="is-sponsored">
      <a href="">
        <div class="cards-img c-bd-b_1">
          <img class="js-lazyload" data-src="http://placehold.jp/300x300.png" alt="">
        </div>
        <div class="cards-text">
          <div class="cards-lead c-cl-f_1">2017.8 特集：未来からきた女性</div>
          <div class="cards-title">ミランダ・ジュライ インタビュー</div>
          <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
          <ul class="cards-tags sp-hide">
            <li class="cards-date">Sep 16. 2017</li>
            <li>#LOVE</li>
            <li>#INTERVIEW</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="is-sponsored">
      <a href="">
        <div class="cards-img c-bd-b_1">
          <img class="js-lazyload" data-src="http://placehold.jp/300x300.png" alt="">
        </div>
        <div class="cards-text c-bd-b_1">
          <div class="cards-lead c-cl-f_1">2017.8 特集：未来からきた女性</div>
          <div class="cards-title">ミランダ・ジュライ インタビュー</div>
          <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
          <ul class="cards-tags sp-hide">
            <li class="cards-date">Sep 16. 2017</li>
            <li>#LOVE</li>
            <li>#INTERVIEW</li>
          </ul>
        </div>
      </a>
    </li>

    <li>
      <a href="">
        <div class="cards-img">
          <img class="js-lazyload" data-src="http://placehold.jp/300x300.png" alt="">
        </div>
        <div class="card-text">
          <div class="cards-lead">2017.8 特集：未来からきた女性</div>
          <div class="cards-title">ミランダ・ジュライ インタビュー</div>
          <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
          <ul class="cards-tags sp-hide">
            <li class="cards-date">Sep 16. 2017</li>
          </ul>
        </div>
      </a>
    </li>

    <li class="is-sponsored">
      <a href="">
        <div class="cards-img c-bd-b_1">
          <img class="js-lazyload" data-src="http://placehold.jp/300x300.png" alt="">
        </div>
        <div class="cards-text">
          <div class="cards-lead c-cl-f_1">2017.8 特集：未来からきた女性</div>
          <div class="cards-title">ミランダ・ジュライ インタビュー</div>
          <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
          <ul class="cards-tags sp-hide">
            <li class="cards-date">Sep 16. 2017</li>
            <li>#LOVE</li>
            <li>#INTERVIEW</li>
          </ul>
        </div>
      </a>
    </li>

  </ul>
</section>