<% if(typeof contactConfirm === 'undefined') { var contactConfirm = false } %>

<section class="contact-section" id="section_01">
  <div class="contact-section-inner">
    <% if(!contactConfirm) { %>
    <h1 class="heading_tertiary">一般、Membersのお客さま</h1>
    <% } %>
    <div class="text_formDescription"><span>＊ は必須項目です。</span>
    </div>
    <div class="l-form js-unload_message">
      <dl class="form-item">
        <dt class="heading_formTitle">お問い合わせの種類<span>＊</span></dt>
        <dd>
          <% if(!contactConfirm) { %>
          <div class="form-item_select js-form-select">
            <p>選択してください</p>
            <select name="pref_name">
              <option value="" selected>選択してください</option>
              <option value="お支払い、自動継続について">お支払い、自動継続について</option>
              <option value="Boxの配送について">Boxの配送について</option>
              <option value="解約について">解約について</option>
              <option value="ログイン、アカウントについて">ログイン、アカウントについて</option>
              <option value="その他">その他</option>
            </select>
          </div>
          <!-- <p class="text-formError">必須項目です</p> -->
          <% } else { %>
          <p class="form-item-confirm">Boxの配送について</p>
          <% } %>
        </dd>
        <% if(!contactConfirm) { %>
        <p class="text_formNote">お問い合わせの前に、<a href="">「よくあるご質問」</a>をご覧いただくと解決できる場合がございます。</p>
        <% } %>
      </dl>
      <dl class="form-item">
        <dt class="heading_formTitle">お名前<span>＊</span></dt>
        <dd>
          <% if(!contactConfirm) { %>
          <input type="text" placeholder="入力してください" />
          <p class="text-formError">必須項目です</p>
          <% } else { %>
          <p class="form-item-confirm">勅使河原 京子</p>
          <% } %>
        </dd>
      </dl>
      <dl class="form-item">
        <dt class="heading_formTitle">フリガナ</dt>
        <dd>
          <% if(!contactConfirm) { %>
          <input type="text" placeholder="入力してください" />
          <p class="text-formError">必須項目です</p>
          <% } else { %>
          <p class="form-item-confirm">テシガワラ キョウコ</p>
          <% } %>
        </dd>
      </dl>
      <dl class="form-item">
        <dt class="heading_formTitle">メールアドレス<span>＊</span></dt>
        <dd>
          <% if(!contactConfirm) { %>
          <input type="email" placeholder="入力してください" />
          <p class="text-formError">必須項目です</p>
          <p class="text-formError">無効なメールアドレスです</p>
          <% } else { %>
          <p class="form-item-confirm">hogehoge@cinra.co.jp</p>
          <% } %>
        </dd>
      </dl>
      <% if(!contactConfirm) { %>
      <dl class="form-item">
        <dt class="heading_formTitle">メールアドレス(確認)<span>＊</span></dt>
        <dd>
          <input type="email" placeholder="確認のため再入力" />
          <p class="text-formError">必須項目です</p>
          <p class="text-formError">メールアドレスが一致しません</p>
        </dd>
      </dl>
      <% } %>

      <dl class="form-item">
        <dt class="heading_formTitle">電話番号</dt>
        <dd>
          <% if(!contactConfirm) { %>
          <input type="tel" placeholder="入力してください" />
          <p class="text-formError">無効な電話番号です</p>
          <% } else { %>
          <p class="form-item-confirm">080-0000-0000</p>
          <% } %>
        </dd>
      </dl>
      <dl class="form-item">
        <dt class="heading_formTitle">ご注文ID</dt>
        <dd>
          <% if(!contactConfirm) { %>
          <input type="text" placeholder="入力してください" />
          <p class="text-formError">無効なご注文IDです</p>
          <% } else { %>
          <p class="form-item-confirm">XXXX0000</p>
          <% } %>
        </dd>
      </dl>
      <dl class="form-item">
        <dt class="heading_formTitle">内容<span>＊</span></dt>
        <dd>
          <% if(!contactConfirm) { %>
          <div class="form-item-wrap">
            <textarea class="form-item_textarea" placeholder="入力してください"></textarea>
          </div>
          <% } else { %>
          <p class="form-item-confirm_s">
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br />
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
          </p>
          <% } %>
        </dd>
      </dl>
      <% if(contactConfirm) { %>
      <dl class="form-item_confirm">
        <dd>
          <p class="text_formDescription">ご登録の前に、以下のご利用規約・ガイドラインを必ずお読みください。</p>
          <ul class="list_link">
            <li><a href="">ご利用規約</a></li>
            <li><a href="">プライバシーポリシー</a></li>
          </ul>
          <div class="form-item_check form-item-wrap js-checkToNext">
            <input type="checkbox"><label>ご利用規約、プライバシーポリシーに同意します</label>
          </div>
        </dd>
      </dl>
      <% } %>
    </div>
  </div>
  <% if(!contactConfirm) { %>
  <%- include('./registration-pager', {registrationConfirm: true, registrationCanBack: false, conditionedNext: false}) %>
  <% } else { %>
  <%- include('./registration-pager', {registrationNextText: '送信する', registrationBackText: '戻る', conditionedNext: true}) %>
  <% } %>
</section>

<% if(!contactConfirm) { %>
<section class="contact-section" id="section_02">
  <div class="contact-section-inner">
    <h1 class="heading_tertiary">法人のお客さま</h1>
    <div class="text_formDescription"><span>＊ は必須項目です。</span></div>
    <div class="l-form js-unload_message">
      <dl class="form-item">
        <dt class="heading_formTitle">お問い合わせの種類<span>＊</span></dt>
        <dd>
          <% if(!contactConfirm) { %>
          <div class="form-item_select js-form-select">
            <p>選択してください</p>
            <select name="pref_name">
              <option value="" selected>選択してください</option>
              <option value="プレスリリース・イベントなどの情報のご提供">プレスリリース・イベントなどの情報のご提供</option>
              <option value="広告掲載についてのご相談">広告掲載についてのご相談</option>
              <option value="ギフトに関するご相談">ギフトに関するご相談</option>
              <option value="その他のShe isに対するお問い合わせ">その他のShe isに対するお問い合わせ</option>
            </select>
          </div>
          <p class="text-formError">必須項目です</p> 
          <% } else { %>
          <p class="form-item-confirm">東京都</p>
          <% } %>
        </dd>
        <p class="text_formNote">※She isへのお問合せでファイルの添付をご希望の際はまで直接<a href="mailto:">メール</a>にてお送り下さい。</p>
      </dl>
      <dl class="form-item">
        <dt class="heading_formTitle">貴社名</dt>
        <dd>
          <% if(!contactConfirm) { %>
          <input type="text" placeholder="入力してください" />
          <p class="text-formError">必須項目です</p>
          <% } else { %>
          <p class="form-item-confirm">株式会社CINRA</p>
          <% } %>
        </dd>
      </dl>
      <dl class="form-item">
        <dt class="heading_formTitle">お名前<span>＊</span></dt>
        <dd>
          <% if(!contactConfirm) { %>
          <input type="text" placeholder="入力してください" />
          <p class="text-formError">必須項目です</p>
          <% } else { %>
          <p class="form-item-confirm">勅使河原 京子</p>
          <% } %>
        </dd>
      </dl>
      <dl class="form-item">
        <dt class="heading_formTitle">フリガナ</dt>
        <dd>
          <% if(!contactConfirm) { %>
          <input type="text" placeholder="入力してください" />
          <p class="text-formError">必須項目です</p>
          <% } else { %>
          <p class="form-item-confirm">テシガワラ キョウコ</p>
          <% } %>
        </dd>
      </dl>
      <dl class="form-item">
        <dt class="heading_formTitle">メールアドレス<span>＊</span></dt>
        <dd>
          <% if(!contactConfirm) { %>
          <input type="email" placeholder="入力してください" />
          <p class="text-formError">必須項目です</p>
          <p class="text-formError">無効なメールアドレスです</p>
          <% } else { %>
          <p class="form-item-confirm">hogehoge@cinra.co.jp</p>
          <% } %>
        </dd>
      </dl>
      <dl class="form-item">
        <dt class="heading_formTitle">メールアドレス(確認)<span>＊</span></dt>
        <dd>
          <input type="email" placeholder="確認のため再入力" />
          <p class="text-formError">必須項目です</p>
          <p class="text-formError">メールアドレスが一致しません</p>
        </dd>
      </dl>
      <dl class="form-item">
        <dt class="heading_formTitle">電話番号</dt>
        <dd>
          <% if(!contactConfirm) { %>
          <input type="tel" placeholder="入力してください" />
          <p class="text-formError">無効な電話番号です</p>
          <% } else { %>
          <p class="form-item-confirm">080-0000-0000</p>
          <% } %>
        </dd>
      </dl>
      <dl class="form-item">
        <dt class="heading_formTitle">ご注文ID</dt>
        <dd>
          <% if(!contactConfirm) { %>
          <input type="text" placeholder="入力してください" />
          <p class="text-formError">無効なご注文IDです</p>
          <% } else { %>
          <p class="form-item-confirm">XXXX0000</p>
          <% } %>
        </dd>
      </dl>
      <dl class="form-item">
        <dt class="heading_formTitle">内容<span>＊</span></dt>
        <dd>
          <% if(!contactConfirm) { %>
          <div class="form-item-wrap">
            <textarea class="form-item_textarea" placeholder="入力してください"></textarea>
          </div>
          <% } else { %>
          <p class="form-item-confirm_s">
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br />
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
          </p>
          <% } %>
        </dd>
      </dl>
    </div>
  </div>
  <%- include('./registration-pager', {registrationConfirm: true, registrationCanBack: false}) %>
</section>

<section class="contact-section" id="section_03">
  <div class="contact-section-inner">
    <h1 class="heading_tertiary">Girlfriendsへの参加をご希望の方</h1>
    <p class="text_letter">テキストあとで用意します。テキストあとで用意します。テキストあとで用意します。テキストあとで用意します。テキストあとで用意します。テキストあとで用意します。テキストあとで用意します。テキストあとで用意します。テキストあとで用意します。テキストあとで用意します。テキストあとで用意します。テキストあとで用意します。テキストあとで用意します。テキストあとで用意します。テキストあとで用意します。</p>
  </div>
</section>
<% } %>