<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Takeda Sei</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:title" content="Takeda Sei">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="Takeda Sei">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="">
  <meta name="twitter:site" content="site">
  <meta name="twitter:title" content="Takeda Sei">
  <meta name="twitter:description" content="">
  <meta name="twitter:url" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="ogimg.png">
  <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
  <link rel="icon" href="favicon.ico"/>
  <link rel="apple-touch-icon" href="/touch-icon.png">
  <style>
  </style>
</head>
<body>
  <div class="l-wrapper">
    <header class="l-header">
      <div class="header-navi">
        <div class="header-navi-inner">
          <div class="header-navi-close pc-hide"><i></i></div>
          <ul class="header-navi-main">
            <li><a href="">home</a></li>
            <li><a href="">about</a></li>
            <li><a href="">news</a></li>
            <li><a href="">works</a></li>
            <li><a href="">contact</a></li>
          </ul>
        </div>
      </div>
      <div class="header-utility sp-hide">
        <ul class="header-utility-sns">
          <li><a href=""><i class="icon-twitter"></i></a></li>
          <li><a href=""><i class="icon-instagram"></i></a></li>
        </ul>
      </div>
    </header>
