<!DOCTYPE html>
<html lang="ja">
<head>
  <title>She is.</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:title" content="She is.">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="She is.">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="">
  <meta name="twitter:site" content="site">
  <meta name="twitter:title" content="She is.">
  <meta name="twitter:description" content="">
  <meta name="twitter:url" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="ogimg.png">
  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Poppins:500,600" rel="stylesheet">
  <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
  <link rel="icon" href="favicon.ico"/>
  <link rel="apple-touch-icon" href="/touch-icon.png">
  <script type="text/javascript" src="//webfont.fontplus.jp/accessor/script/fontplus.js?fgjNLi9Uupw%3D&aa=1&ab=2" charset="utf-8"></script>
  <style>
    .list_octagon-img image,
    .list_octagon-img img {
      clip-path: url(#clip-octagon);
    }

    .c-bg-b_1 {background-color: #b4e8e2;}
    .c-bd-b_1 {border-color: #b4e8e2;}
    .c-cl-b_1 {color: #b4e8e2;}

    .c-bg-f_1 {background-color: #14aa98;}
    .c-bd-f_1 {border-color: #14aa98;}
    .c-cl-f_1 {color: #14aa98;}
  </style>
</head>
<body>

  <div class="l-wrapper">

    <header class="l-header header_simple c-bg-b_1">
      <h1 class="header-logo"><a href="" title="She is"></a></h1>
      <h2 class="header-pagetitle">Members新規登録</h2>
    </header>
