<h3 class="heading_mypage">お知らせ</h3>
<ul class="list_mypage-news">
  <% for (var i = 0; i < 3; i++) { %>
  <li>
    <p class="list_mypage-news-title"><a href="">She is オープニングパーティーのお知らせ／10組20名さまをご招待</a></p>
    <p class="list_mypage-news-date">Sep 16. 2017</p>
  </li>
  <% } %>
</ul>
<p class="button_fill"><a href="">お知らせ一覧</a></p>
