<h3 class="heading_mypage">MENU</h3>
<ul class="list_mypage-menu">
  <li class="button_border_block"><a href="">登録情報</a></li>
  <li class="button_border_block"><a href="">配達状況一覧</a></li>
  <li class="button_border_block"><a href="">MEMBERS 限定記事一覧</a></li>
</ul>
