<div class="pager">
  <div class="prev"><a href="">Prev</a></div>
  <div class="next"><a href="">Next</a></div>
  <ol class="pager-numPC">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li class="is-current"><span>3</span></li>
    <li><a href="#">4</a></li>
    <li class="ellipsis"><span>...</span></li>
    <li><a href="#">123</a></li>
  </ol>
  <ul class="pager-numSP">
    <li>1</li>
    <li>124</li>
  </ul>
</div>