<%
  if(typeof registrationConfirm === 'undefined') { var registrationConfirm = false }
  if(typeof isMypage === 'undefined') { var isMypage = false }
%>

    <%- include('./registration-address',{registrationConfirm:registrationConfirm}) %>

    <dl class="form-item">
      <dt class="heading_formTitle">ギフトの配送先<span>＊</span></dt>
      <dd>
<% if(!registrationConfirm) { %>
        <div class="form-item_check form-item-wrap">
          <input type="checkbox" class="js-checkToAccordion" data-target="js-accordionBody"><label>ギフトの配達先住所が異なる場合、チェックして別の住所を入力</label>
        </div>
<% } else { %>
        <p class="form-item-confirm_s">ギフトの配送先住所が異なる</p>
<% } %>
      </dd>
    </dl>

    <div class="form-subItems js-accordionBody">
      <%- include('./registration-address',{registrationConfirm:registrationConfirm}) %>
    </div>

    <dl class="form-item">
      <dt class="heading_formTitle">電話番号<span>＊</span></dt>
      <dd>
<% if(!registrationConfirm) { %>
        <input type="tel" placeholder="入力してください" />
        <!-- <p class="text-formError">必須項目です</p>
        <p class="text-formError">無効なメールアドレスです</p> -->
<% } else { %>
        <p class="form-item-confirm">09012345678</p>
<% } %>
      </dd>
    </dl>
