<%
  if(typeof registrationConfirm === 'undefined') { var registrationConfirm = false }
  if(typeof isMypage === 'undefined') { var isMypage = false }
%>

<% if(!registrationConfirm && !isMypage) { %>
  <div class="text_formDescription">
    自動継続月額3,500円のMembersに加入します。<br />
    ※今お申込みいただくと、11月下旬に「未来からきた女性」のギフトをお届けします。<br />
    ※お支払い方法はクレジットカードのみです。<br />
    ※いつでも解約可能です（ただし、お申込み月は解約することができません）。
    <span>＊ は必須項目です。</span>
  </div>
<% } %>


    <dl class="form-item">
      <dt class="heading_formTitle">お名前<span>＊</span></dt>
      <dd>
<% if(!registrationConfirm) { %>
        <div class="form-item_2cal">
          <input type="text" placeholder="姓" />
          <p class="text-formError">必須項目です</p>
        </div>
        <div class="form-item_2cal">
          <input type="text" placeholder="名" />
          <p class="text-formError">必須項目です</p>
        </div>
<% } else { %>
        <p class="form-item-confirm">勅使河原 京子</p>
<% } %>
      </dd>
    </dl>

    <dl class="form-item">
      <dt class="heading_formTitle">フリガナ<span>＊</span></dt>
      <dd>
<% if(!registrationConfirm) { %>
        <div class="form-item_2cal">
          <input type="text" placeholder="セイ" />
          <p class="text-formError">必須項目です</p>
        </div>
        <div class="form-item_2cal">
          <input type="text" placeholder="メイ" />
          <p class="text-formError">必須項目です</p>
        </div>
<% } else { %>
        <p class="form-item-confirm">テシガワラ キョウコ</p>
<% } %>
      </dd>
    </dl>

    <dl class="form-item">
      <dt class="heading_formTitle">性別<span>＊</span></dt>
      <dd>
<% if(!registrationConfirm) { %>
        <div class="form-item-wrap">
          <div class="form-item_3cal form-item_radio"><input type="radio" name="gender" value="男性" /><label>男性</label></div>
          <div class="form-item_3cal form-item_radio"><input type="radio" name="gender" value="女性" /><label>女性</label></div>
          <div class="form-item_3cal form-item_radio"><input type="radio" name="gender" value="その他" /><label>その他</label></div>
        </div>
        <p class="text-formError">必須項目です</p>
<% } else { %>
        <p class="form-item-confirm">女性</p>
<% } %>
      </dd>
    </dl>

    <dl class="form-item">
      <dt class="heading_formTitle">生年月日<span>＊</span></dt>
      <dd>
<% if(!registrationConfirm) { %>
        <div class="form-item-inline">
          <input type="number" placeholder="xxxx" class="input_s" /><span>年</span>
          <input type="number" placeholder="xx" class="input_ss" /><span>月</span>
          <input type="number" placeholder="xx" class="input_ss" /><span>日</span>
        </div>
        <p class="text-formError">必須項目です</p>
<% } else { %>
        <p class="form-item-confirm">1985年12月24日</p>
<% } %>
      </dd>
    </dl>

    <dl class="form-item">
      <dt class="heading_formTitle">メールアドレス<span>＊</span></dt>
      <dd>
<% if(!registrationConfirm) { %>
        <input type="email" placeholder="入力してください" />
        <p class="text-formError">必須項目です</p>
        <p class="text-formError">無効なメールアドレスです</p>
<% } else { %>
        <p class="form-item-confirm">hogehoge@cinra.co.jp</p>
<% } %>
      </dd>
    </dl>

<% if(!registrationConfirm) { %>
    <dl class="form-item">
      <dt class="heading_formTitle">メールアドレス(確認)<span>＊</span></dt>
      <dd>
        <input type="email" placeholder="確認のため再入力" />
        <p class="text-formError">必須項目です</p>
        <p class="text-formError">メールアドレスが一致しません</p>
      </dd>
    </dl>
<% } %>

    <dl class="form-item">
      <dt class="heading_formTitle">パスワード<span>＊</span></dt>
      <dd>
<% if(!registrationConfirm) { %>
        <input type="password" placeholder="英数字6文字以上で入力" />
        <p class="text-formError">必須項目です</p>
<% } else { %>
        <p class="form-item-confirm">********</p>
<% } %>
      </dd>
    </dl>

<% if(!registrationConfirm) { %>
    <dl class="form-item">
      <dt class="heading_formTitle">パスワード(確認)<span>＊</span></dt>
      <dd>
        <input type="password" placeholder="英数字6文字以上で入力" />
        <p class="text-formError">必須項目です</p>
        <p class="text-formError">パスワードが一致しません</p>
      </dd>
    </dl>
<% } %>

    <dl class="form-item">
      <dt class="heading_formTitle">メールマガジン<span>＊</span></dt>
      <dd>
<% if(!registrationConfirm) { %>
        <div class="form-item_2cal form-item_radio"><input type="radio" name="mailmagazine" value="希望する" checked /><label>希望する</label></div>
        <div class="form-item_2cal form-item_radio"><input type="radio" name="mailmagazine" value="希望しない" /><label>希望しない</label></div>
<% } else { %>
        <p class="form-item-confirm">希望する</p>
<% } %>
      </dd>
<% if(!registrationConfirm && !isMypage) { %>
      <dd class="text_formNote">※イベントの優待についてはメールマガジンで情報をお届けします。ご希望の方は必ず「希望する」にチェックしてください。</dd>
<% } %>
    </dl>
