body {
  color: $c_black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  transition-duration: $tr_speed;
  transition-property: all;
}

hr {
  height: 0;
  width: 100%;
  border: 0;
  border-top: 1px solid $c_gray-lighten3;
  margin: 30px 0;
  @include mqSP {
    margin: 10px 0;
  }
}