/* -------------
  colors
------------- */
$c_wt: #fff;

// 黒系
$c_black: #333; //タイトル、本文等、サイトの基本テキストカラー
$c_gray: #646464; //パネル内の本文に使用
$c_gray-lighten1: #8f8f8f; //パネル内のアイコン、日付テキストに使用。特集トップ、特集詳細のカラム内のスライダーの背景で使用。
$c_gray-lighten2: #b4b4b4; //特集トップ、特集詳細のカラム内の背景で使用。サイドバー（グロナビ）内の掲示板、SNSアイコンに使用。
$c_gray-lighten3: #c8c8c8; //hr等の罫線に使用。
$c_gray-lighten4: #dcdcdc; //特集トップ、特集詳細のカラム内のスライダーの背景で使用。詳細画面内、絞り込みエリア内の背景で使用。
$c_gray-lighten5: #f2f2f2; //掲示板コンテンツの背景色に使用。

// 茶系
$c_brown: #6e645a; //footerの背景色に使用。
$c_brown-lighten: #c58d65; //サイト内のメインカラー。ロゴ、サイドバー、リンク色として使用。
$c_brown-darken: #413c37; //footer下部のバナーエリアの背景色に使用。
$c_brown-saturate: #cf9d14; //特集、連載に関するパネルやコンテンツ内で使用。
$c_brown-saturate2: #C99165;
$c_brown-lighten2: #C48C65;

// ベージュ
$c_beige-ligten: #fff8ee; //特集、連載に関する背景色に使用。
$c_beige-darken: #baac80; //パネル内のタグの背景色に使用。
$c_beige: #B9AB7F;

// 赤
$c_red: #FF533D; //formの必須のところ
$c_red-lighten: #FFE5E1; // form エラー時のinput bg


// カテゴリーアイコン
$c_orange: #f9782d;
$c_pink: #eb576b;
$c_blue: #4ec4c0;
$c_green: #3cc37c;
$c_yellow: #e0c223;


$c_facebook: #305097;
$c_instagram: #3F729B;

/* -------------
  width
------------- */

$w_gnavi: 140px;

/* -------------
  transition-duration
------------- */
$tr_speed: 0.3s;

/* -------------
  transition-opacity
------------- */
$tr_opacity: 0.7;

/* -------------
  box-shadow
------------- */
$bs_standard: 0 0 2px rgba(#000,0.1); 


/* -------------
  sns-color
------------- */
$c_facebook: #315096;
$c_instagram: #3f729b;



