<%- include('partial/head-top') %>

<div class="l-container page-top c-bg-b_1">
<div class="l-billboard">
  <div class="billboard_top">
    <a href="">
      <div class="billboard-image js-billboardImg">
        <div class="billboard-image-inner">
          <img src="https://unsplash.it/1745/635" alt="">
          <div class="scrollable js-scrollable"><i></i></div>
        </div>
        <div class="billboard-textBox">
          <p class="billboard-textBox-lead c-cl-f_1">2017年8月 今月の特集</p>
          <h2 class="billboard-textBox-title">未来からきた女性</h2>
          <p class="billboard-textBox-description">She is が考えるすごい女性たち。<br />彼女たちのチャーミングな生き方って？</p>
          <p class="button_fill"><span>FEATURE</span></p>
        </div>
      </div>
    </a>
    <p class="billboard-note sp-hide">SEP 16,2017　ミランダ・ジュライ インタビュー</p>
  </div>
</div>
<div class="l-content">
  <div class="l-main">
    <div class="news">
      <a href="">
      <h2 class="news-heading">お知らせ</h2>
      <p class="news-text"><span class="news-text-date">2017.6.4</span>She is オープニングパーティのお知らせ</p>
      </a>
    </div>
    <ul class="cards_highlight">
      <li>
        <a href="">
          <div class="cards-img">
            <div class="cards-img-inner c-bd-b_1">
              <div class="cards-img-inner-text">
                <p class="cards-img-date">sep 16.2017</p>
                <p class="cards-img-title">大森靖子×道重さゆみ<br />未来の女の子対談</p>
              </div>
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
            </div>
          </div>
          <div class="cards-text c-bd-b_1">
            <div class="cards-lead c-cl-f_1">2017.8 特集：未来からきた女性</div>
            <div class="cards-description">簡単なディスクリプション(20文字程度)</div>
            <ul class="cards-tags">
              <li class="cards-date">Sep 16. 2017</li>
              <li>#LOVE</li>
              <li>#INTERVIEW</li>
            </ul>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="cards-img">
            <div class="cards-img-inner c-bd-b_1">
              <div class="cards-img-inner-text">
                <p class="cards-img-date">sep 16.2017</p>
                <p class="cards-img-title">大森靖子×道重さゆみ<br />未来の女の子対談</p>
              </div>
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
            </div>
          </div>
          <div class="cards-text c-bd-b_1">
            <div class="cards-lead c-cl-f_1">2017.8 特集：未来からきた女性</div>
            <div class="cards-description">簡単なディスクリプション(20文字程度)</div>
            <ul class="cards-tags">
              <li class="cards-date">Sep 16. 2017</li>
              <li>#LOVE</li>
              <li>#INTERVIEW</li>
            </ul>
          </div>
        </a>
      </li>
      <li class="is-limited">
        <a href="">
          <div class="cards-img">
            <div class="cards-img-inner c-bd-b_1">
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
              <div class="cards-label">今月のギフト</div>
            </div>
          </div>
          <div class="cards-text">
            <div class="cards-description">簡単なディスクリプション(20文字程度)</div>
          </div>
        </a>
      </li>
    </ul>
    <section class="l-section">
      <h1 class="heading_section_secondary">LATEST</h1>
      <ul class="cards">

        <li class="is-sponsored">
          <a href="">
            <div class="cards-img c-bd-b_1">
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
            </div>
            <div class="cards-text c-bd-b_1">
              <div class="cards-title">ミランダ・ジュライ インタビュー</div>
              <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
              <ul class="cards-tags sp-hide">
                <li class="cards-date">Sep 16. 2017</li>
                <li>#LOVE</li>
                <li>#INTERVIEW</li>
              </ul>
            </div>
          </a>
        </li>

        <li>
          <a href="">
            <div class="cards-img">
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
            </div>
            <div class="card-text">
              <div class="cards-lead">2017.8 特集：未来からきた女性</div>
              <div class="cards-title">ミランダ・ジュライ インタビュー</div>
              <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
              <ul class="cards-tags sp-hide">
                <li class="cards-date">Sep 16. 2017</li>
              </ul>
            </div>
          </a>
        </li>

        <li class="is-sponsored">
          <a href="">
            <div class="cards-img">
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
            </div>
            <div class="card-text">
              <div class="cards-lead">SPONSORED：VOLVO</div>
              <div class="cards-lead c-cl-f_1">2017.8 特集：未来からきた女性</div>
              <div class="cards-lead">連載：連載名タイトル</div>
              <div class="cards-title">ミランダ・ジュライ インタビュー</div>
              <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
              <ul class="cards-tags sp-hide">
                <li class="cards-date">Sep 16. 2017</li>
              </ul>
            </div>
          </a>
        </li>

        <li class="is-sponsored">
          <a href="">
            <div class="cards-img">
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
            </div>
            <div class="card-text">
              <div class="cards-lead">2017.8 特集：未来からきた女性</div>
              <div class="cards-title">ミランダ・ジュライ インタビュー</div>
              <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
              <ul class="cards-tags sp-hide">
                <li class="cards-date">Sep 16. 2017</li>
              </ul>
            </div>
          </a>
        </li>
        <li class="is-ad pc-hide">
          <a href="">
            <div class="cards-img">
              <img class="js-lazyload" data-src="http://placehold.it/1160x960/000000/ffffff/?text=Banner-SP" alt="">
            </div>
          </a>
        </li>
        <li class="is-sponsored">
          <a href="">
            <div class="cards-img">
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
            </div>
            <div class="card-text">
              <div class="cards-lead">2017.8 特集：未来からきた女性</div>
              <div class="cards-title">ミランダ・ジュライ インタビュー</div>
              <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
              <ul class="cards-tags sp-hide">
                <li class="cards-date">Sep 16. 2017</li>
              </ul>
            </div>
          </a>
        </li>
        <li class="is-ad sp-hide">
          <a href="">
            <div class="cards-img">
              <img class="js-lazyload" data-src="http://placehold.it/300x250/000000/ffffff/?text=Banner-PC" alt="">
            </div>
          </a>
        </li>
        <li class="is-sponsored">
          <a href="">
            <div class="cards-img">
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
            </div>
            <div class="card-text">
              <div class="cards-lead">2017.8 特集：未来からきた女性</div>
              <div class="cards-title">ミランダ・ジュライ インタビュー</div>
              <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
              <ul class="cards-tags sp-hide">
                <li class="cards-date">Sep 16. 2017</li>
              </ul>
            </div>
          </a>
        </li>
        <li class="is-sponsored">
          <a href="">
            <div class="cards-img">
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
            </div>
            <div class="card-text">
              <div class="cards-lead">2017.8 特集：未来からきた女性</div>
              <div class="cards-title">ミランダ・ジュライ インタビュー</div>
              <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
              <ul class="cards-tags sp-hide">
                <li class="cards-date">Sep 16. 2017</li>
              </ul>
            </div>
          </a>
        </li>
        <li class="is-sponsored">
          <a href="">
            <div class="cards-img">
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
            </div>
            <div class="card-text">
              <div class="cards-lead">2017.8 特集：未来からきた女性</div>
              <div class="cards-title">ミランダ・ジュライ インタビュー</div>
              <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
              <ul class="cards-tags sp-hide">
                <li class="cards-date">Sep 16. 2017</li>
              </ul>
            </div>
          </a>
        </li>
      </ul>
    </section>
    <section class="l-section">
      <header class="headBoard">
        <a href="">
          <div class="headBoard-img js-lazyload" data-bg="https://unsplash.it/1960/760">
            <div class="headBoard-inner">
              <p class="headBoard-lead">連載：前田エマ、服にあう</p>
              <h1 class="headBoard-title">SNEEUWにあいにいく</h1>
              <p class="headBoard-description sp-hide">14px #ffffff 簡単なディスクリプションが入ります。簡単なディスクリプションが入ります。簡単なディスクリプションが入ります。簡単なディスクリプションが入ります。簡単なディスクリプションが入ります。簡単なデ（200字）簡単なディスクリプションが入ります。簡単なディスクリプションが入ります。簡単なディスクリプションが入ります。簡単なディスクリプションが入ります。簡単なディスクリプ（200字）</p>
              <ul class="headBoard-tags sp-hide">
                <li class="headBoard-date">Sep 16. 2017</li>
                <li>#LOVE</li>
                <li>#INTERVIEW</li>
              </ul>
            </div>
          </div>
          <p class="headBoard-description pc-hide">14px #ffffff 簡単なディスクリプションが入ります。簡単なディスクリプションが入ります。簡単なディスクリプションが入ります。簡単なディスクリプションが入ります。簡単なディスクリプションが入ります。簡単なデ（200字）簡単なディスクリプションが入ります。簡単なディスクリプションが入ります。簡単なディスクリプションが入ります。簡単なディスクリプションが入ります。簡単なディスクリプ（200字）</p>
        </a>
      </header>
      <ul class="cards">

        <li class="is-sponsored">
          <a href="">
            <div class="cards-img c-bd-b_1">
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
            </div>
            <div class="cards-text c-bd-b_1">
              <div class="cards-lead c-cl-f_1">2017.8 特集：未来からきた女性</div>
              <div class="cards-title">ミランダ・ジュライ インタビュー</div>
              <div class="cards-description">簡単なディスクリプション(20文字程度)</div>
              <ul class="cards-tags sp-hide">
                <li class="cards-date">Sep 16. 2017</li>
                <li>#LOVE</li>
                <li>#INTERVIEW</li>
              </ul>
            </div>
          </a>
        </li>

        <li>
          <a href="">
            <div class="cards-img">
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
            </div>
            <div class="card-text">
              <div class="cards-lead">2017.8 特集：未来からきた女性</div>
              <div class="cards-title">ミランダ・ジュライ インタビュー</div>
              <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
              <ul class="cards-tags sp-hide">
                <li class="cards-date">Sep 16. 2017</li>
              </ul>
            </div>
          </a>
        </li>

        <li class="is-sponsored">
          <a href="">
            <div class="cards-img c-bd-b_1">
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
            </div>
            <div class="cards-text">
              <div class="cards-lead c-cl-f_1">2017.8 特集：未来からきた女性</div>
              <div class="cards-title">ミランダ・ジュライ インタビュー</div>
              <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
              <ul class="cards-tags sp-hide">
                <li class="cards-date">Sep 16. 2017</li>
                <li>#LOVE</li>
                <li>#INTERVIEW</li>
              </ul>
            </div>
          </a>
        </li>

        <li class="is-sponsored">
          <a href="">
            <div class="cards-img ">
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
            </div>
            <div class="card-text">
              <div class="cards-lead">2017.8 特集：未来からきた女性</div>
              <div class="cards-title">ミランダ・ジュライ インタビュー</div>
              <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
              <ul class="cards-tags sp-hide">
                <li class="cards-date">Sep 16. 2017</li>
              </ul>
            </div>
          </a>
        </li>

        <li class="is-sponsored">
          <a href="">
            <div class="cards-img">
              <img class="js-lazyload" data-src="https://unsplash.it/600/600" alt="">
            </div>
            <div class="card-text">
              <div class="cards-lead">2017.8 特集：未来からきた女性</div>
              <div class="cards-title">ミランダ・ジュライ インタビュー</div>
              <div class="cards-description sp-hide">簡単なディスクリプション(20文字程度)</div>
              <ul class="cards-tags sp-hide">
                <li class="cards-date">Sep 16. 2017</li>
              </ul>
            </div>
          </a>
        </li>
      </ul>
      <p class="button_fill"><a href="">MORE</a></p>
    </section>
    <section class="l-section">
      <h1 class="heading_section_primary">GIRLFRIENDS</h1>
      <p class="text_headingDescription">"She is"は、さまざまな<br class="pc-hide" />仲間（Girlfriends）たちと、<br class="pc-hide" />場所をつくっています。</p>
      <ul class="list_octagon js-matchHeight">
        <li><a href="">
          <div class="list_octagon-img">
            <svg><image xlink:href="https://unsplash.it/280/280" width="100%" height="100%" /></svg>
          </div>
          <p class="list_octagon-text">前田エマ</p>
        </a></li>
        <li><a href="">
          <div class="list_octagon-img">
            <svg><image xlink:href="https://unsplash.it/280/280" width="100%" height="100%" /></svg>
          </div>
          <p class="list_octagon-text">前田エマ</p>
        </a></li>
        <li><a href="">
          <div class="list_octagon-img">
            <svg><image xlink:href="https://unsplash.it/280/280" width="100%" height="100%" /></svg>
          </div>
          <p class="list_octagon-text">前田エマ</p>
        </a></li>
        <li><a href="">
          <div class="list_octagon-img">
            <svg><image xlink:href="https://unsplash.it/280/280" width="100%" height="100%" /></svg>
          </div>
          <p class="list_octagon-text">前田エマ</p>
        </a></li>
      </ul>
      <p class="button_fill"><a href="">ALL</a></p>

    </section>
  </div>
</div>

</div>

<%- include('partial/foot') %>