<%- include('partial/head') %>

<div class="l-container detail">
  <div class="l-content">
    <div class="l-currentPage">works 01</div>


    <div class="l-side">
      <div class="l-side-inner">
        <%- include('partial/side') %>
      </div>
    </div>

    <div class="l-main">
      <div class="main-inner">    
        <div class="l-works_detail">
          <div class="wysiwyg">
            <p><span>傷のかたち</span><br>ひかりは傷をつくると<br>昨日まで<br>わすれていた

            <br><br>くものない<br>雫がおちるまえの夜<br>２５時の線にふれたのは<br>交差点<br>かわいていた僕<br>かわる時のひとつ手前<br>かたむくほしをみた

            <br><br>ななめに<br>なめらかに<br>濡らすように熱のない傷がこぼれる<br>ひとつ<br>またひとつ<br>さみだれにこぼれゆく

            <br><br>気がつけば<br>あざやかな<br>傷だらけの夜<br>こちらに<br>こぼしてあげられるものはなかった

            <br><br>にげばのないここで<br>おもいだす<br>傷にふれたくて<br>落ちてきたこと

            <br><br>明日には洗われるこの傷<br>僕は<br>うずまくそらへ<br>手をのばす

            <br><br>気がつけば<br>あざやかな<br>傷だらけの夜<br>こちらに<br>こぼしてあげられるものはなかった

            <br><br>にげばのないここで<br>おもいだす<br>傷にふれたくて<br>落ちてきたこと

            <br><br>明日には洗われるこの傷<br>僕は<br>うずまくそらへ<br>手をのばす</p>
          </div>
        </div>
           

      </div>
    </div>
    
    <div class="l-pager">
      <ul class="pager">
        <li><a href=""><i class="icon-dots"></i></a></li>
        <li><a href=""><i class="icon-arrow_left"></i></a></li>
        <li><a href=""><i class="icon-arrow_right"></i></a></li>
      </ul>
    </div>

    <footer class="l-footer">
      <div class="copyright">© Takeda Sei.</div>
    </footer>


  </div>
</div>

<%- include('partial/foot') %>