<%- include('partial/head') %>

<div class="l-container top">
  <div class="l-content">

    <div class="l-side">
      <div class="l-side-inner">
        <%- include('partial/side') %>
      </div>
    </div>
    
    <div class="l-main">
      <div class="l-topArticle">
        <a href=""><div class="topArticle">
            <p>傷のかたち<br><br>ひかりは傷をつくると<br>昨日まで<br>忘れていた</p>
          </div>
        </a>
      </div>
      
      <div class="l-topNews">
        <ul class="topNews">
          <li><a href=""><span>2017.9.1(Fri) - 9.10(Sun)</span><br>Takeda Sei個展「ああああ展」 @寿パークビル5F</a></li>
          <li><a href=""><span>2017.9.1(Fri) - 9.10(Sun)</span><br>Takeda Sei個展「ああああ展」 @寿パークビル5F</a></li>
        </ul>
      </div>
    </div>
    
    <footer class="l-footer">
      <div class="copyright">© Takeda Sei.</div>
    </footer>


  </div>
</div>

<%- include('partial/foot') %>