<%- include('partial/head') %>

<div class="l-container">
  <div class="l-content">
    <div class="l-currentPage">news</div>


    <div class="l-side">
      <div class="l-side-inner">
        <%- include('partial/side') %>
      </div>
    </div>
    
    <div class="l-main">
      <ul class="news">
        <li>
          <span class="date">2017/00/00 Tue</span>
          <h2>新着情報のタイトルが入ります新着情報のタイトルが入ります新着情報のタイトルが入ります</h2>
        </li>
        
        <li>
          <span class="date">2017/00/00 Tue</span>
          <h2>新着情報のタイトルが入ります新着情報のタイトルが入ります新着情報のタイトルが入ります新着情報のタイトルが入ります新着情報のタイトルが入ります新着情報のタイトルが入ります新着情報のタイトルが入ります</h2>
        </li>
        
        <% for (var i = 0; i < 10; i++) { %>
        <li>
          <span class="date">2017/00/00 Tue</span>
          <h2>新着情報のタイトルが入ります新着情報のタイトルが入ります新着情報のタイトルが入ります新着情報のタイトルが入ります新着情報のタイトルが入ります新着情報のタイトルが入ります新着情報のタイトルが入ります</h2>
        </li>        <% } %>
      </ul>
    </div>
    
    <footer class="l-footer">
      <div class="copyright">© Takeda Sei.</div>
    </footer>


  </div>
</div>

<%- include('partial/foot') %>