<%- include('partial/head') %>

<div class="l-container">
  <div class="l-content">
    <div class="l-currentPage">works</div>


    <div class="l-side">
      <div class="l-side-inner">
        <%- include('partial/side') %>
      </div>
    </div>

    <div class="l-main">
      <ol class="olWorks reversed" style="counter-reset:item 5">
        <li><a href=""><p>傷のかたち</p></a></li>
        <li><a href=""><p>時空遊び</p></a></li>
        <li><a href=""><p>あの日<br>見ていたもの</p></a></li>
        <li><a href=""><p>あああああああああああああ</p></a></li>
      </ol>
    </div>

    <footer class="l-footer">
      <div class="copyright">© Takeda Sei.</div>
    </footer>


  </div>
</div>

<%- include('partial/foot') %>