[class^="button_"] {
  a {
    display: block;
    text-align: center;
  }
}

.button_solid {
  text-align: center;
  @include mqSP{
    width: 90%;
    padding: 0 5%;
  }

  a {
    .l-snsNavi & {
      box-sizing: border-box;
      font-weight: bold;

      .icon-balloon {
        &:before {
          position: relative;
          font-size: 16px;
          left: -5px;
          top: 1px;
        }
        @include mqSP {
          margin-left: -30px;
        }
        
      }

      @include mqSP{
        padding: 10px;
        padding-left: 12px;
        font-size: 12px;
        line-height: 18px;
        text-indent: 22px;
        font-weight: 700;
        margin: 15px 0px;
      }
      @include mqPC{
        padding: 14px;
        font-size: 14px;
      }
    }
  }
  
  &.c-gray {
    a {
      color: #fff;
      background-color: $c_gray-lighten2;
      &:hover {
        opacity: $tr_opacity;
      }
    }
  }
  &.c-brown {
    a {
      color: #fff;
      background-color: $c_brown-lighten2;
      &:hover {
        background-color: $c_gray-lighten2;
      }
      .l-aside & {
        padding: 27px 10px 26px;
        font-family: $f_kaushan;
        font-size: 18px;
      }
    }
  }
}

.button_submit {
  width: 40px;
  height: 40px;
  &.c-brown {
    background-color: $c_brown-lighten;
  }
}

.button_box {
  margin-top: 35px;
  text-align: center;
  @include mqSP {
    margin-top: 20px;
  }
  a {
    display: inline-block;
    &:hover {
      @include mqPC {
        .button_box-inner {
          transform: rotateX(90deg);
        }
      }
    }
  }
  
  .button_box-inner {
    width: 400px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    @include mqPC {
      transform-style: preserve-3d;
    }
    transform: rotateX(0) perspective(500px);
    transition-duration: $tr_speed;
    perspective-origin: center top;
    
    div {
      width: 372px;
      height: 53px;
      position: absolute;
      transform: rotateX(-90deg);
      border: 2px solid $c_brown-lighten;
      font-family: $f_kaushan;
      text-align: center;
      line-height: 53px;
      margin: 0 auto;
      left: 12px;
      top: 1px;
    }
    .button_box-front {
      border-color: $c_brown-lighten;
      background-color: #fff;
      transform: translateZ(30px);
      color: $c_brown-lighten;
    }
    .button_box-back {
      top: 28px;
      background-color: $c_brown-lighten;
      color: #fff;
    }
  }
  @include mqSP {
    .button_box-inner {
      width: 260px;
      height: 45px;
      font-size: 16px;
      div {
        position: relative;
        width: 256px;
        height: 40px;
        line-height: 40px;
        left: inherit;
      }
      .button_box-front {
        transform: translateZ(23px);
      }
      .button_box-back {
        top: -23px;
      } 
    }
  }
}
button {
  .button_box-inner {
    font-size: 18px;
    @include mqSP {
      font-size: 16px;
    }
  }
  &:hover {
    @include mqPC {
      .button_box-inner {
        transform: rotateX(90deg);
      }
    }
  }
}
