.form {
  ::-webkit-input-placeholder {
    color: $c_gray-lighten1;
  }
  :-ms-input-placeholder {
    color: $c_gray-lighten1;
  }
  ::-moz-placeholder {
    color: $c_gray-lighten1;
  }


  
}

.form-inner {
  background-color: $c_gray-lighten4;
  padding: 30px;
  @include mqSP {
    padding: 10px;
  }
}

.form-error {
  color: $c_red;
  font-size: 14px;
  margin-top: 5px;
  display: none;
  .is-error & {
    display: block;
  }
  @include mqSP {
    font-size: 13px;
  }
}

.form-inner-notes {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
  text-align: right;
}

.form-required {
  color: $c_red;
}

.form-inner-items {
  dt {
    font-weight: bold;
    font-size: 16px;
    width: 85px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    margin-right: 20px;

    // margin-bottom: 20px;
    vertical-align: top;
    // padding-top: 8px;
    text-align: right;
    // padding-right: 30px;
    &:nth-last-child(2) {
      margin-bottom: 0!important;
    }
    @include mqSP {
      width: 100%;
      padding-top: 0;
      font-size: 14px;
      margin-bottom: 0;
      text-align: left;
      padding-right: 0;
    }
  }
  dd {
    display: inline-block;
    width: 460px;
    margin-bottom: 20px;
    vertical-align: top;
    @include mqSP {
      width: 100%;
      margin-bottom: 5px;
    }
    input,select,textarea {
      width: 100%;
      height: 40px;
      font-size: 14px;
      line-height: 40px;
      // padding: 11px 10px 10px;
      padding: 9px 0px 8px 10px;
      border: 1px solid #fff;
      @include mqSP {
        font-size: 13px;
      }
    }
    select {
      padding: 0px 50px 0px 10px;
    }
    textarea {
      height: 160px;
    }
    &.is-error {
      input,select,textarea {
        background-color: $c_red-lighten;
        border-color: $c_red;
        color: $c_red;
      }
      ::-webkit-input-placeholder {
        color: $c_red;
      }
      :-ms-input-placeholder {
        color: $c_red;
      }
      ::-moz-placeholder {
        color: $c_red;
      }
    }
    &:last-child {
      margin-bottom: 0!important;
    }
  }
}

.form-select {
  height: 40px;
  position: relative;
  &:after,
  &:before {
    display: block;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    content: "";
    height: 40px;
    width: 40px;
    // background-color: $c_gray-lighten2;
    top: 0;
    right: 0;
  }
  &:before {
    content: "\e909";
    transform: rotateX(180deg);
    // color: #fff;
    font-size: 16px;
    top: 11px;
    right: 13px;
    z-index: 2;
  }
  select {
    height: 100%;
    font-size: 14px;
    color: $c_gray-lighten1;
  }
}

// 確認画面
.form_confirm {
  .form-inner-items {
    dt {
      padding-top: 0;
      margin-bottom: 30px;
    }
    dd {
      margin-bottom: 30px;
      font-size: 14px;
      &.form-select {
        &:after,
        &:before {
          content: none;
        }
      }
    }
    @include mqSP {
      dt {
        margin-bottom: 0;
      }
      dd {
        margin-bottom: 5px;
      }
    }
  }
}

//送信完了画面
.form_complete {
  @extend .form_confirm;
  p {
    font-size: 16px;
    line-height: 1.75;
    @include mqSP {
      font-size: 13px;
      line-height: 1.5;
    }
  }
  .form-inner-items {
    a {
      border-bottom: 1px solid $c_brown-lighten;
      color: $c_brown-lighten;
      &:hover {
        border-color: transparent;
        color: $c_gray-lighten2;
      }
    }
  }
}

.form-inner-heading {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  @include mqSP {
    margin-bottom: 5px;
    font-size: 14px;
  }
}


.why-jplus{
  @include mqPC {
    font-size: 12px;
    line-height: 20px;
  }
}


