.link {

}

.link_arrowRight {
  text-align: right;
  padding-right: 28px;
  a {
    border-bottom: 1px solid #fff;
    position: relative;
    &:after {
      content: "\e907";
      @include icofont;
      margin-left: 4px;
      display: inline-block;
      position: absolute;
      right: -18px;
      top: 0;
    }
    &:hover {
      border-color: transparent;
      color: rgba(#fff,0.7);
    }
  }
}
