[class^="panel_"] {
  @extend %clearfix;
  > li {
    float: left;
    &.is-new {
      > a {
        position: relative;
        display: block;
        &:after {
          content: "";
          display: block;
          @include r-sprite($icon_new);
          position: absolute;
          top: -5px;
          right: -5px;
          z-index: 4;
          pointer-events: none;
          @include mqSP {
            @include sp-sprite($icon_new);
          }
        }
      }
    }
    &.is-pr {
      @extend .is-new;
      a {
        &:after {
          @include r-sprite($icon_pr);
          @include mqSP {
            @include sp-sprite($icon_pr);
          }
        }
      }
    }
    .panel-image {
      overflow: hidden;
      position: relative;
      width: 300px;
      height: 200px;
      &:after {
        transition-duration: $tr_speed;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow:0px 0px 0px 0 $c_brown-lighten inset;
        z-index: 3;
        pointer-events: none;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition-duration: $tr_speed;
      }
      &:hover {
        &:after {
          box-shadow:0px 0px 0px 3px $c_brown-lighten inset;
        }
        img {
          width: 110%;
          top: -5%;
          left: -5%;
        }
      }
    }
    .panel-title {
      &:hover {
        color: $c_brown-lighten;
      }
    }
    > a {
      display: block;
    }
  }
  @include mqSP {
    > li {
      width: 125px;
      > a {
        .panel-image {
          width: 125px;
          height: 83px;
        }
      }
    } 
  }
}

.panel-title {
  // font-size: 18px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
  transition-duration: $tr_speed;
  line-height: 150%;
  @include mqSP {
    font-size: 13px;
    line-height: 1.3;
  }
}
.panel-note {
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 150%;
}

.panel-label {
  background-color: $c_brown-saturate;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  line-height: 21px;
  &:after,
  &:before {
    content: "";
    display: block;
    width: calc(100% - 20px);
    position: absolute;
    z-index: 0;
  }
  &:before {
    height: 1px;
    background-color: rgba(#fff,0.3);
    top: 50%;
    margin-top: 1px;
  }
  &:after {
    height: 12px;
    border-top: 1px solid rgba(#fff,0.3);
    border-bottom: 1px solid rgba(#fff,0.3);
    top: 50%;
    margin-top: -6px;
  }
  span {
    display: inline-block;
    background-color: $c_brown-saturate;
    position: relative;
    z-index: 2;
    padding: 0 15px;
  }
  @include mqSP {
    font-size: 12px;
    padding: 1px 10px;
    span {
      padding: 0 10px;
    }
    &:after {
      height: 9px;
      margin-top: -4px;
    }
  }
}

.panel-image {
  position: relative;
  .genreTag {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4;
  }
}

.panel_standard {
  @extend %clearfix;
  margin-top: -25px;
  > li {
    margin-top: 25px;
    margin-right: 30px;
    width: 300px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @include mqSP {
    margin-top: -10px;
    > li {
      margin-top: 10px;
      &:nth-child(odd) {
        margin-right: 10px;
      }
      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
  &.l-2culm{
    > li {
      &:nth-child(odd) {
        margin-right: 30px;
        @include mqSP {
          margin-right: 10px;
        }
      }

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }

}

.panel_spot {
  @extend .panel_standard;
  .panel-image {
    a {
      display: block;
      height: 100%;
      width: 100%;
      position: relative;
    }
    .genreTag {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .panel-title {
    padding: 0;
    transition-duration: 0s!important;
    a {
      padding: 10px 0;
      display: block;
    }
  }
  
  @include mqSP {
    > li {
      display: table;
      box-sizing: border-box;
      padding: 0 0 10px 0;
      margin-right: 0!important;
      background-color: transparent;
      border-top: 0;
      width: 260px;
      border-bottom: 1px dashed $c_gray-lighten3;
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
      .panel-image,
      .panel-text {
        display: table-cell;
        vertical-align: top;
      }
      .panel-image {
        padding-right: 10px;
        width: 96px;
        height: 64px;
        &:after {
          content: none;
        }

        &:after {
          content: none;
        }
        a {
          overflow: hidden;
          width: 96px;
          height: 64px;
          position: relative;
          display: block;
          &:after {
            transition-duration: $tr_speed;
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            box-shadow:0px 0px 0px 0 $c_brown-lighten inset;
          }
          img {
            transition-duration: $tr_speed;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
          }
          &:hover {
            &:after {
              box-shadow:0px 0px 0px 3px $c_brown-lighten inset;
            }
            img {
              width: 110%;
              top: -5%;
              left: -5%;
            }
          }
        }
      }
      .panel-title {
        margin-top: 0;
        margin-bottom: 5px;
        padding: 0;
        font-size: 13px;
        a {
          display: block;
          padding: 0;
          &:hover {
            color: $c_brown-lighten;
          }
        }
      }
      .panel-note {
        font-size: 11px;
        margin-bottom: 5px;
      }
      .date {
        margin: 10px 0 5px 0;
      }
      &.is-new {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          @include r-sprite($icon_new);
          top: -5px;
          right: -5px;
        }
      }
    }    
  }
}


.panel_feature {
  @extend %clearfix;
  margin-top: -30px;
  > li {
    width: 465px;
    float: left;
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    &:nth-child(odd) {
      margin-right: 30px;
    }
    a {
      display: block;
      &:after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow:0px 0px 0px 3px $c_brown-lighten inset;
        opacity: 0;
        transition-duration: $tr_speed;
        z-index: 100;
      }
      &:hover {
        .panel-image {
          img {
            width: 110%;
            left: -5%;
            top: -5%;
          }
        }
        &:after {
          opacity: 1;
        }
        .panel-title {
          color: #fff;
        }
      }
      .panel-text {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 0;
        width: 100%;
        box-sizing: border-box;
        transition-duration: $tr_speed;
        transition-timing-function: cubic-bezier(.8,.2,.22,.57);
        height: auto;
        background-color: rgba(#000,0.7);
        padding: 0 15px 12px;
        z-index: 2;
      }
      .panel-title {
        color: #fff;
        font-size: 18px;
        margin-top: 0;
        line-height: 150%;
        padding: 0;
      }
      .panel-image {
        width: 465px;
        height: 310px;
      }
    }
  }
  @include mqSP {
    > li {
      width: 100%;
      a {
        .panel-image {
          width: 100%;
          height: 173px;
        }
        .panel-text {
          padding: 5px;
        }
        .panel-title {
          padding: 0;
          font-size: 13px;
        }
        .date {
          margin: 5px 0;
        }
      }
    }
  }
}

.panel_bbs {
  margin-top: -30px;
  > li {
    width: 300px;
    margin-right: 30px;
    margin-top: 30px;
    background-color: $c_gray-lighten5;
    border-top: 2px solid $c_gray-lighten3;
    padding: 15px;
    display: table;
    box-sizing: border-box;
    .panel-image,
    .panel-text {
      display: table-cell;
      vertical-align: top;
    }
    .panel-image {
      padding-right: 10px;
      width: 90px;
      height: 90px;
      &:after {
        content: none;
      }
      a {
        overflow: hidden;
        width: 90px;
        height: 90px;
        position: relative;
        display: block;
        &:after {
          transition-duration: $tr_speed;
          content: "";
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          box-shadow:0px 0px 0px 0 $c_brown-lighten inset;
        }
        img {
          transition-duration: $tr_speed;
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
        }
        &:hover {
          &:after {
            box-shadow:0px 0px 0px 3px $c_brown-lighten inset;
          }
          img {
            width: 110%;
            top: -5%;
            left: -5%;
          }
        }
      }
    }
    .panel_bbs-text {
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    .panel-title {
      margin-top: 0;
      margin-bottom: 10px;
      padding: 0;
      a {
        display: block;
        &:hover {
          color: $c_brown-lighten;
        }
      }
    }
    .date {
      margin: 10px 0 5px 0;
    }
    &.is-new {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        @include r-sprite($icon_new);
        top: -5px;
        right: -5px;
      }
    }
    @include mqSP {
      width: 260px;
      .panel-image {
        width: 80px;
        height: 80px;
      }
    }
  }

  &.l-2culm{
    > li {
      &:nth-child(odd) {
        margin-right: 30px;
      }

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
}

@include mqSP {
  .panel_standard {
    &.slick-slider {
      margin-bottom: 0!important;
    }
    &.slick-slider,
    .slick-slide {
      height: auto;
    }
    .slick-slide {
      padding: 0 25px;
      box-sizing: border-box;
      .panel-title {
        padding: 10px;
      }
      .date {
        padding: 0 10px 5px;
      }
    }
    .slick-arrow {
      height: 100%;
      top: 0;
      background-color: $c_gray-lighten2!important;
      transform: translate(0,0);
      border-radius: 0;
      width: 25px;
      opacity: 1;
      z-index: 5!important;
      &:before {
        color: #fff;
        padding: 0!important;
      }
    }
  }
  .slick-csingle-item {
    .panel-image {
      img {
        width: 100%;
      }
    }
  }
}


// 記事内のショートコードで呼び出されるもの
.panel_shortcode {
  display: table;
  border: 2px solid $c_gray-lighten3;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  @include mqSP {
    padding: 10px;
    margin-bottom: 10px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  a {
    display: block;
    position: relative;
  }
  .panel-image,
  .panel-text {
    display: table-cell;
    vertical-align: top;
    p {
      margin-bottom: 0;
      &.genreTag {
        line-height: 1;
        font-size: 11px;
        @include mqSP {
          font-size: 10px;
        }
      }
    }
    ul {
      padding-left: 0;
      li {
        list-style: none;
      }
    }
  }
  [class^="panel-image"] {
    padding-right: 20px;
    @include mqSP {
      padding-right: 10px;
    }
    img {
      position: absolute;
      transition-duration: $tr_speed;
      top: 0;
      left: 0;
      width: 100%;
    }
    a {
      position: relative;
      width: 240px;
      height: 160px;
      overflow: hidden;
      @include mqSP {
        width: 90px;
        height: 60px;
      }
      
      &:after {
        transition-duration: $tr_speed;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow:0px 0px 0px 0 $c_brown-lighten inset;
        z-index: 3;
        pointer-events: none;
      }
      &:hover {
        img {
          max-width: 110%;
          width: 110%!important;
          height: auto!important;
          top: -5%;
          left: -5%;
        }
        &:after {
          box-shadow:0px 0px 0px 3px $c_brown-lighten inset;
        }
      }
    }
    &.panel-image_min {
      a {
        width: 90px;
        height: 60px;
      }
    }
  }
  .panel-title {
    padding-top: 0;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 1.35;
    @include mqSP {
      font-size: 13px;
    }
    a {
      &:hover {
        color: $c_brown-lighten;
      }
    }
  }
  .panel-note {
    font-size: 13px;
    @include mqSP {
      font-size: 11px;
    }
  }
  .panel-label {
    font-size: 14px;
    @include mqSP {
      font-size: 12px;
    }
  }
  .date {
    padding-top: 10px;
    font-size: 11px;
    line-height: 1;
    @include mqSP {
      padding-top: 5px;
      font-size: 10px;
    }
  }
  .tags {
    padding-top: 10px;
    @include mqSP {
      padding-top: 5px;
    }
  }
}
