.search-box{
  position: relative;
  background:#dcdcdc;
  @include mqPC{
    width: 960px;
    height: 120px;
    margin-bottom:40px;
  }


  @include mqSP{
    width: 260px;
    height: 50px;
    margin-bottom:20px;
    overflow: hidden;
    transition-duration: $tr_speed;
    &.open{
      height: initial;
      .js-sp-refine-toggle{
        background: $c_gray-lighten3;
        .icon-toggle{
          border: none;

          &::before{
            content:'ー';
            padding-top:2px;
            font-size: 16px;

          }

        }
      }
    }
    .js-sp-refine-toggle{
      background: $c_brown-lighten2;
      width: 100%;
      height: 50px;
      &::before{
        content: '絞り込み';
        color: #fff;
        font-weight: 700;
        text-align: center;
        display: block;
        position: relative;
        line-height: 50px;
        font-size: 14px;
      }

      &::after{ }

      .icon-toggle{
        position: absolute;
        right: 12px;
        top: 12px;
        width: 26px;
        height: 26px;
        border: 1px solid #fff;
        background: $c_brown-lighten2;
        &::before{
          content:'+';
          font-size: 20px;
          color: #fff;
          display: block;
          text-align: center;
          line-height: 20px;
        }
      }
    }
  }



  .select-area-box, 
  .select-type-box, 
  .select-category-box, 
  .select-genre-box{
    &::before{
      @include mqPC{
        position: absolute;
        top: 11px;
        font-weight: 700;
      }

      @include mqSP{
        font-weight: 700;
        font-size: 12px;
        margin: 10px 0 5px;
        display: block;
      }
    }

    &::after{
      content: "\e909";
      position: absolute;
      transform: rotateX(180deg);
      font-size: 14px;

      @include mqPC{
        right: 50px;
        top: 12px;
      }

      @include mqSP{
        right: 8px;
        bottom: 14px;
        font-size:13px;
      }

    }

    select{
      &.selected{
        color: #000;
      }
      padding: 5px 5px 5px 10px;
      height: 40px;
      color: $c_gray-lighten1;
      font-size: 14px;
      cursor: pointer;
      
      @include mqPC{
        position: absolute;
        width: 250px;
        right: 35px;
      }

      @include mqSP{
        position: relative;
        width: 100%;
      }



    }

    @include mqPC{
      position:absolute;
      width: 420px;
      height: 40px;
      top:40px;
      left:0;
    }

    @include mqSP{
      position:relative;
      width: 90%;
      height: 58px;
      margin: 0 5%;
    }



  }

  .select-genre-box{
    &::before{
      @include mqPC{
        left: 51px;
      }
      content: 'ジャンル';
    }
  }

  .select-category-box{
    @include mqPC{
      left:400px;
    }
    &::before{
      left: 35px;
      content:'カテゴリー';
    }
  }

  .select-area-box{
    @include mqPC{
      top: 90px;
    }
    &::before{
      left: 67px;
      content: 'エリア';
    }
  }
  .select-type-box{
    @include mqPC{
      top: 90px;
      left:400px;
    }

    &::before{
      left: 83px;
      content:'条件';
    }
  }



  .serch-box-submit{
    background:#c48c65;
    color: white;
    cursor: pointer;
    transition-duration: $tr_speed;

    &:hover{
      background-color: $c_gray-lighten2;
    }

    &::before{
      content: "\e90a";
    }

    &::after{
      font-weight: bold;
      content: "検索";
    }


    @include mqPC{
      position:absolute;
      width: 120px;
      height: 100%;
      top:0;
      right:0;


      &::before{
        position:absolute;
        top:25px;
        left:35px;
        font-size: 50px;
      }

      &::after{
        position: absolute;
        bottom: 24px;
        left: 46px;
        font-size: 14px;
      }
    }

    @include mqSP{
      position:relative;
      width: 90%;
      height: 40px;
      margin: 10px 5%;

      &::before{
        position:absolute;
        top:12px;
        left:80px;
        font-size: 20px;
      }

      &::after{
        position: absolute;
        bottom: 14px;
        left: 108px;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }


  // 2段構えの場合(レイアウト大のみ)
  @include mqPC{
    &.height-160{
      height: 160px;
      .select-category-box {
        top: 30px;
      }
      .select-genre-box{
        top: 30px;
      }
      .select-area-box{
        top: 90px;
        &::before{
          content: 'エリア';
          left: 67px;
        }
      }
      .select-type-box{
        top: 90px;
        left:400px;
        &::before{
          left: 83px;
          content:'条件';
        }
      }

      &.page-genre{
        .select-category-box {
          width: 840px;
          left:0;
          &::after{
            right: 70px;

          }
          select{
            left: 135px;
            width: 650px;
          }
        }
      }



      .serch-box-submit{
        &::before{
          position:absolute;
          top:45px;
          left:35px;
          font-size: 50px;
          content: "\e90a";
        }

        &::after{
          position: absolute;
          bottom: 44px;
          left: 32px;
          font-size: 14px;
          font-weight: 700;
          content: "絞り込む";
        }

      }
    }
  }


  .inner-line{
    @include mqSP{
      width: 90%;
      border-top: 1px solid $c_gray-lighten3;
      margin: 10px 5% 5px 5%;
    }
  }



}
