.slick-csingle-item{
  @include mqSP{
    height: 160px;
  }

  @include mqPC{
    height: 400px;
  }

  margin-bottom: 60px !important;

  .slick-dots{
    bottom: -15px;
    padding: 0;
    margin: 0;
    @include mqSP {
      bottom: -17px;
    }
  }

  .slick-next,
  .slick-prev{
    z-index: 10;
    width: 30px;
    height: 50px;
    background: white;
    opacity: 0.75;
    transition-duration: $tr_speed;
    &::before{
      font-family: 'icomoon' !important;
      color: black;
      transition-duration: $tr_speed;
      font-size: 14px;
    }
    &:hover, &:focus {
      opacity: 1;
      background: white;
      color: black;
    }
  }

  .slick-prev{
    left: 0px;
    border-radius: 0 4px 4px 0 / 0 4px 4px 0;
    &:hover, &:focus {
      &::before{
        padding-right: 7px;
      }
    }
    &::before{
      content: "\e908";
    }

  }
  .slick-next{
    right: 0px;
    border-radius: 4px 0 0 4px / 4px 0 0 4px;
    &:hover, &:focus {
      &::before{
        padding-left: 7px;
      }
    }

    &::before{
      content: "\e907";
    }
  }




  .slick-dots{
    li {
      width: 12px;
      height: 12px;
      margin: 0 4px;
      @include mqSP {
        width: 10px;
        height: 10px;
        margin: 0 3px;
      }
      button {
        width: 12px;
        height: 12px;
        @include mqSP {
          width: 10px;
          height: 10px;
        }
        &:hover, &:focus {
          &:before {
            color: red;
              // opacity: $slick-opacity-on-hover;
          }
        }

        &:before {
          width: 12px;
          height: 12px;
          font-size: 13px;
          transition-duration: $tr_speed;
          @include mqSP {
            width: 10px;
            height: 10px;
            font-size: 10px;
          }

        }
      }
      &.slick-active button:before{
        color: red;
      }
    }
  }


}

.slick-arrow {
  @include mqSP {
    display: none!important;
  }
}



